In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import math

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
!unzip -qq "/content/gdrive/MyDrive/cp2/itruck.zip"

replace transfer_1.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: ㅛ
error:  invalid response [ㅛ]
replace transfer_1.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: ㅛ
error:  invalid response [ㅛ]
replace transfer_1.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace __MACOSX/._transfer_1.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace new.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace __MACOSX/._new.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace cancel.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace __MACOSX/._cancel.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace change.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace __MACOSX/._change.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace pledge.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
y
replace __MACOSX/._pledge.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: replace registration.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace __MACOSX/._registration.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace itruck_db_table.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace __MACOSX/._itruck_db_table.parquet? [y]es, [n]o, [A]ll, [N]one, [r]ename: y

In [ ]:
pip install fastparquet

y
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fastparquet in /usr/local/lib/python3.7/dist-packages (0.8.1)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (1.21.6)
Requirement already satisfied: fsspec in /usr/local/lib/python3.7/dist-packages (from fastparquet) (2022.8.2)
Requirement already satisfied: cramjam>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (2.5.0)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->fastparquet) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->fastparquet) (1.15.0)

In [ ]:
plt.rcParams['font.family'] = 'AppleGothic'
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pledge = pd.read_parquet('pledge.parquet')

pledge.reset_index(inplace = True, drop = True)

# 저당등록정보 (2017.04 - 2022.07)

In [ ]:
pledge.shape

(2173350, 58)

In [ ]:
pledge.tail(2)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,매매상품구분명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,을부번호,저당등록구분명,저당차량수,최초저당설정일,저당권자회원구분명,저당권자등록번호,저당권자주소명,총채권금액,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
2173348,10020059000023119,화물,일반형-픽업,소형,G,FW1RG,3496.0,5.0,300.0,포드F150,2019,휘발유(무연),외산,4도어픽업형,5890.0,2220,1980.0,3710,1890.0,1870.0,자동,2019.0,XX소XXXX,1FTFW1RG6KFXXXXXX,경남,자가용,저당말소,202207,일반소유용,None,201909,201909.0,법인및사업자,None,경기도 평택시,경기도 평택시,95300000.0,482a2021XXXXXX,단독저당,1,202109.0,법인및사업자,None,서울특별시 영등포구,104000000,456.0,6.3,2690.0,3315.0,None,5000.0,315/70R17(S),None,315/70R17(S),None,None,None,118000000.0
2173349,10020059000023119,화물,일반형-픽업,소형,G,FW1RG,3496.0,5.0,300.0,포드F150,2019,휘발유(무연),외산,4도어픽업형,5890.0,2220,1980.0,3710,1890.0,1870.0,자동,2019.0,XX소XXXX,1FTFW1RGXKFXXXXXX,경남,자가용,저당말소,202207,일반소유용,None,201908,201907.0,법인및사업자,None,인천광역시 남동구,인천광역시 남동구,93500000.0,482a2021XXXXXX,단독저당,1,202109.0,법인및사업자,None,서울특별시 영등포구,102000000,456.0,6.3,2690.0,3315.0,None,5000.0,315/70R17(S),None,315/70R17(S),None,None,None,117000000.0

In [ ]:
pledge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2173350 entries, 0 to 2173349
Data columns (total 58 columns):
 #   Column     Dtype
---  ------     -----
 0   제원관리번호     object
 1   차종명        object
 2   차종유형명      object
 3   차종분류명      object
 4   원동기형식명     object
 5   형식명        object
 6   배기량        float32
 7   승차정원수      float32
 8   최대적재량      float32
 9   차명         object
 10  모델연도       int32
 11  사용연료명      object
 12  국산수입구분명    object
 13  차대차체형상명    object
 14  차체길이       float64
 15  차체너비       int32
 16  차체높이       float32
 17  축간거리       int32
 18  전윤간거리      float32
 19  후윤간거리      float64
 20  변속기종류명     object
 21  제원모델년도     float32
 22  차량등록번호     object
 23  차대번호       object
 24  등록관청명      object
 25  용도구분명      object
 26  신청구분명      object
 27  등록일        int32
 28  등록상세명      object
 29  매매상품구분명    object
 30  최초등록일      int32
 31  제작년월일      float32
 32  회원구분명      object
 33  회원등록번호     object
 34  사용본거지주소명   object
 35  소유자주소명     object
 36  취득금액       float32
 37  을부번호       object
 38  저당등록구분명    object
 39  저당차량수      int32
 40  최초저당설정일    float32
 41  저당권자회원구분명  object
 42  저당권자등록번호   object
 43  저당권자주소명    object
 44  총채권금액      int32
 45  원동기최고출력    float64
 46  연료소비율      float32
 47  차량중량       float32
 48  차량총중량      float64
 49  최초제원관리번호   object
 50  원동기RPM값    float64
 51  타이어전전형식    object
 52  타이어전후형식    object
 53  타이어후전형식    object
 54  타이어후중형식    object
 55  타이어후후형식    object
 56  구동방식코드     object
 57  최초취득금액     float32
dtypes: float32(12), float64(5), int32(7), object(34)
memory usage: 804.2+ MB

In [ ]:
pledge.isnull().sum()
#원동기형식명 형식명

제원관리번호             0
차종명                0
차종유형명              0
차종분류명             48
원동기형식명         18316
형식명               61
배기량             6068
승차정원수            635
최대적재량            146
차명                 1
모델연도               0
사용연료명          39785
국산수입구분명            0
차대차체형상명          136
차체길이               1
차체너비               0
차체높이               3
축간거리               0
전윤간거리           1188
후윤간거리              1
변속기종류명           198
제원모델년도         58301
차량등록번호             0
차대번호            1291
등록관청명              0
용도구분명          13131
신청구분명              0
등록일                0
등록상세명              0
매매상품구분명      1846358
최초등록일              0
제작년월일           2619
회원구분명              0
회원등록번호        775544
사용본거지주소명           0
소유자주소명             0
취득금액           19943
을부번호               0
저당등록구분명            1
저당차량수              0
최초저당설정일           11
저당권자회원구분명          0
저당권자등록번호     2144975
저당권자주소명            0
총채권금액              0
원동기최고출력      1153935
연료소비율        1147952
차량중량         1137100
차량총중량        1137097
최초제원관리번호     1193788
원동기RPM값      1153982
타이어전전형식      1154360
타이어전후형식      2028430
타이어후전형식      1265723
타이어후중형식      2137122
타이어후후형식      2055241
구동방식코드       1809000
최초취득금액       1149299
dtype: int64

'manage_id','vehicle_type','vehicle_model','vehicle_cat','displacement','passenger','max_load','vehecle_name','model_year','fuel','dom_import','vehicle_body','len','width','height','wheelbase','front_wb','back_wb','transmission','vin','purpose','sale_reg_date','reg_detail','first_reg_date','man_date','pur_amount','mort_vehicle_num','full_bond_amount','max_output','consum_rate','weight','first_manage_id','rpm','dri_system','first_pur_amount'

## 결측치 처리

In [ ]:
"""
차종분류명             48 -> 찾아서 넣어야 할까? 시간 넘 오래 걸릴텐데
원동기형식명         18316
형식명               61
배기량             6068
승차정원수            635
최대적재량            146
차명                 1 -> 0으로
사용연료명          39785
차대차체형상명          136
차체길이               1
차체높이               3
전윤간거리           1188
후윤간거리              1
변속기종류명           198
제원모델년도         58301
차대번호            1291
용도구분명          13131
매매상품구분명      1846358
제작년월일           2619
회원등록번호        775544
취득금액           19943
저당등록구분명            1
최초저당설정일           11
저당권자등록번호     2144975
원동기최고출력      1153935
연료소비율        1147952
차량중량         1137100
차량총중량        1137097
최초제원관리번호     1193788
원동기RPM값      1153982 -> 제거
타이어전전형식      1154360 -> 제거
타이어전후형식      2028430 -> 제거
타이어후전형식      1265723 -> 제거
타이어후중형식      2137122 -> 제거
타이어후후형식      2055241 -> 제거
구동방식코드       1809000 -> 제거
최초취득금액       1149299 -> 제거
"""

'\n차종분류명             48 -> 찾아서 넣어야 할까? 시간 넘 오래 걸릴텐데\n원동기형식명         18316\n형식명               61\n배기량             6068\n승차정원수            635\n최대적재량            146\n차명                 1 -> 0으로\n사용연료명          39785\n차대차체형상명          136\n차체길이               1\n차체높이               3\n전윤간거리           1188\n후윤간거리              1\n변속기종류명           198\n제원모델년도         58301\n차대번호            1291\n용도구분명          13131\n매매상품구분명      1846358\n제작년월일           2619\n회원등록번호        775544\n취득금액           19943\n저당등록구분명            1\n최초저당설정일           11\n저당권자등록번호     2144975\n원동기최고출력      1153935\n연료소비율        1147952\n차량중량         1137100\n차량총중량        1137097\n최초제원관리번호     1193788\n원동기RPM값      1153982 -> 제거\n타이어전전형식      1154360 -> 제거\n타이어전후형식      2028430 -> 제거\n타이어후전형식      1265723 -> 제거\n타이어후중형식      2137122 -> 제거\n타이어후후형식      2055241 -> 제거\n구동방식코드       1809000 -> 제거\n최초취득금액       1149299 -> 제거\n'

In [ ]:
#차대차체형상명,저당권자등록번호,저당권자주소면

In [ ]:
# 칼럼명 바꾸기

In [ ]:
#칼럼 제거
"""
'원동기형식명','형식명','제원모델년도','차량등록번호','등록관청명','신청구분명','회원구분명','회원등록번호','사용본거지주소명','소유자주소명','을부번호','저당등록구분명','저당권자등록번호','저당권자회원구분명','저당권자주소명','차량중량','타이어전전형식','타이어전후형식','타이어후전형식','타이어후중형식','타이어후후형식'
"""
pledge.drop(['원동기형식명','형식명','제원모델년도','차량등록번호','등록관청명','신청구분명','회원구분명','회원등록번호','사용본거지주소명','소유자주소명','을부번호','저당등록구분명','저당권자등록번호','저당권자회원구분명','저당권자주소명','차량중량','타이어전전형식','타이어전후형식','타이어후전형식','타이어후중형식','타이어후후형식'],axis=1,inplace=True)

In [ ]:
#+추가
pledge.drop(['최초저당설정일'],axis=1,inplace=True)

In [ ]:
pledge.drop(['매매상품구분명'],axis=1,inplace=True)

In [ ]:
#확인
pledge.columns

Index(['제원관리번호', '차종명', '차종유형명', '차종분류명', '배기량', '승차정원수', '최대적재량', '차명',
       '모델연도', '사용연료명', '국산수입구분명', '차대차체형상명', '차체길이', '차체너비', '차체높이', '축간거리',
       '전윤간거리', '후윤간거리', '변속기종류명', '차대번호', '용도구분명', '등록일', '등록상세명', '최초등록일',
       '제작년월일', '취득금액', '저당차량수', '총채권금액', '원동기최고출력', '연료소비율', '차량총중량',
       '최초제원관리번호', '원동기RPM값', '구동방식코드', '최초취득금액'],
      dtype='object')

In [ ]:
pledge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2173350 entries, 0 to 2173349
Data columns (total 35 columns):
 #   Column    Dtype
---  ------    -----
 0   제원관리번호    object
 1   차종명       object
 2   차종유형명     object
 3   차종분류명     object
 4   배기량       float32
 5   승차정원수     float32
 6   최대적재량     float32
 7   차명        object
 8   모델연도      int32
 9   사용연료명     object
 10  국산수입구분명   object
 11  차대차체형상명   object
 12  차체길이      float64
 13  차체너비      int32
 14  차체높이      float32
 15  축간거리      int32
 16  전윤간거리     float32
 17  후윤간거리     float64
 18  변속기종류명    object
 19  차대번호      object
 20  용도구분명     object
 21  등록일       int32
 22  등록상세명     object
 23  최초등록일     int32
 24  제작년월일     float32
 25  취득금액      float32
 26  저당차량수     int32
 27  총채권금액     int32
 28  원동기최고출력   float64
 29  연료소비율     float32
 30  차량총중량     float64
 31  최초제원관리번호  object
 32  원동기RPM값   float64
 33  구동방식코드    object
 34  최초취득금액    float32
dtypes: float32(9), float64(5), int32(7), object(14)
memory usage: 447.7+ MB

In [ ]:
#칼럼명 변경
pledge.columns=['manage_id','vehicle_type','vehicle_model','vehicle_cat','displacement','passenger','max_load','vehicle_name','model_year','fuel','dom_import','vehicle_body','len','width','height','wheelbase','front_wb','back_wb','transmission','vin','purpose','sale_reg_date','reg_detail','first_reg_date','man_date','pur_amount','mort_vehicle_num','full_bond_amount','max_output','consum_rate','weight','first_manage_id','rpm','dri_system','first_pur_amount']

In [ ]:
#칼럼명 확인
pledge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2173350 entries, 0 to 2173349
Data columns (total 35 columns):
 #   Column            Dtype
---  ------            -----
 0   manage_id         object
 1   vehicle_type      object
 2   vehicle_model     object
 3   vehicle_cat       object
 4   displacement      float32
 5   passenger         float32
 6   max_load          float32
 7   vehicle_name      object
 8   model_year        int32
 9   fuel              object
 10  dom_import        object
 11  vehicle_body      object
 12  len               float64
 13  width             int32
 14  height            float32
 15  wheelbase         int32
 16  front_wb          float32
 17  back_wb           float64
 18  transmission      object
 19  vin               object
 20  purpose           object
 21  sale_reg_date     int32
 22  reg_detail        object
 23  first_reg_date    int32
 24  man_date          float32
 25  pur_amount        float32
 26  mort_vehicle_num  int32
 27  full_bond_amount  int32
 28  max_output        float64
 29  consum_rate       float32
 30  weight            float64
 31  first_manage_id   object
 32  rpm               float64
 33  dri_system        object
 34  first_pur_amount  float32
dtypes: float32(9), float64(5), int32(7), object(14)
memory usage: 447.7+ MB

In [ ]:
pledge.isnull().sum()

manage_id                 0
vehicle_type              0
vehicle_model             0
vehicle_cat              48
displacement           6068
passenger               635
max_load                146
vehicle_name              1
model_year                0
fuel                  39785
dom_import                0
vehicle_body            136
len                       1
width                     0
height                    3
wheelbase                 0
front_wb               1188
back_wb                   1
transmission            198
vin                    1291
purpose               13131
sale_reg_date             0
reg_detail                0
first_reg_date            0
man_date               2619
pur_amount            19943
mort_vehicle_num          0
full_bond_amount          0
max_output          1153935
consum_rate         1147952
weight              1137097
first_manage_id     1193788
rpm                 1153982
dri_system          1809000
first_pur_amount    1149299
dtype: int64

In [ ]:
#first_manage_id 드롭
pledge.drop(['first_manage_id'],axis=1,inplace=True)

In [ ]:
pledge.isnull().sum()

manage_id                 0
vehicle_type              0
vehicle_model             0
vehicle_cat              48
displacement           6068
passenger               635
max_load                146
vehicle_name              1
model_year                0
fuel                  39785
dom_import                0
vehicle_body            136
len                       1
width                     0
height                    3
wheelbase                 0
front_wb               1188
back_wb                   1
transmission            198
vin                    1291
purpose               13131
sale_reg_date             0
reg_detail                0
first_reg_date            0
man_date               2619
pur_amount            19943
mort_vehicle_num          0
full_bond_amount          0
max_output          1153935
consum_rate         1147952
weight              1137097
rpm                 1153982
dri_system          1809000
first_pur_amount    1149299
dtype: int64

In [ ]:
pledge.head()

,manage_id,vehicle_type,vehicle_model,vehicle_cat,displacement,passenger,max_load,vehicle_name,model_year,fuel,dom_import,vehicle_body,len,width,height,wheelbase,front_wb,back_wb,transmission,vin,purpose,sale_reg_date,reg_detail,first_reg_date,man_date,pur_amount,mort_vehicle_num,full_bond_amount,max_output,consum_rate,weight,rpm,dri_system,first_pur_amount
0,A0810005500004302,특수,견인,대형,12920.0,2.0,16500.0,현대트랙터(터보),2003,경유,국산,"ㄷ형프레임,캡오버형",6705.0,2495,2950.0,4350,2040.0,1850.0,수동,KMEFJ18SP3XXXXXX,자가용,201704,매매상품용,200302,200302.0,0.0,1,354000000,NaN,NaN,NaN,NaN,None,NaN
1,01220001000014306,특수,견인,대형,10308.0,2.0,16500.0,이베코6X2트랙터,2007,경유,외산,캡오버형,6910.0,2495,3820.0,4595,2040.0,1810.0,자동,WJMS2NSK07XXXXXX,영업용,201704,일반소유용,200701,200612.0,110000000.0,1,40000000,NaN,NaN,NaN,NaN,None,NaN
2,01120000500134303,특수,견인,대형,12130.0,2.0,17000.0,FM12 6x4 트랙터,2004,경유,외산,ㄷ프레임.캡오버형,7070.0,2490,3390.0,4770,2030.0,1838.0,수동,YV2J4CFD94XXXXXX,영업용,201704,일반소유용,200404,200311.0,0.0,1,22000000,NaN,NaN,NaN,NaN,None,NaN
3,B4S10013200034317,특수,특수작업형,대형,6728.0,2.0,0.0,호룡스카이4504N고소작업차,2018,경유,국산,ㄷ자 프레임 캡오버형,9665.0,2495,3885.0,4900,2075.0,1760.0,수동,KLTDC4CH5JXXXXXX,영업용,201704,일반소유용,201703,201703.0,161000000.0,1,129000000,NaN,NaN,NaN,NaN,None,NaN
4,01220001000014306,특수,견인,대형,10308.0,2.0,16500.0,이베코6X2트랙터,2007,경유,외산,캡오버형,6910.0,2495,3820.0,4595,2040.0,1810.0,자동,WJMS2NSK07XXXXXX,영업용,201704,일반소유용,200701,200612.0,110000000.0,1,40000000,NaN,NaN,NaN,NaN,None,NaN

In [ ]:
pledge.tail()

,manage_id,vehicle_type,vehicle_model,vehicle_cat,displacement,passenger,max_load,vehicle_name,model_year,fuel,dom_import,vehicle_body,len,width,height,wheelbase,front_wb,back_wb,transmission,vin,purpose,sale_reg_date,reg_detail,first_reg_date,man_date,pur_amount,mort_vehicle_num,full_bond_amount,max_output,consum_rate,weight,rpm,dri_system,first_pur_amount
2173345,2AD20020300003116,화물,일반형-픽업,소형,4951.0,5.0,400.0,포드F150,2015,휘발유(무연),외산,4도어 픽업형,6200.0,2060,2010.0,4000,1720.0,1730.0,자동,1FTFW1EFXFKXXXXXX,자가용,202207,매매상품용,201612,201512.0,40000000.0,1,1000000,385.0,7.2,3175.0,5750.0,None,50000000.0
2173346,2GL20001000003116,화물,일반형-픽업,소형,3496.0,5.0,300.0,포드F150,2013,휘발유(무연),외산,4도어 픽업형,5905.0,2030,1960.0,3680,1700.0,1700.0,자동,1FTFW1ET8DKXXXXXX,자가용,202207,일반소유용,201605,201312.0,43600000.0,1,5000000,365.0,8.3,3305.0,5000.0,None,43600000.0
2173347,57920000400003114,화물,일반형-픽업,소형,5400.0,5.0,300.0,포드F150,2010,휘발유,외산,4도어 픽업형,5880.0,2050,1920.0,3660,1700.0,1700.0,자동,1FTFW1EV9AFXXXXXX,자가용,202207,일반소유용,201503,201409.0,0.0,1,5000000,310.0,8.0,3305.0,5000.0,None,10900000.0
2173348,10020059000023119,화물,일반형-픽업,소형,3496.0,5.0,300.0,포드F150,2019,휘발유(무연),외산,4도어픽업형,5890.0,2220,1980.0,3710,1890.0,1870.0,자동,1FTFW1RG6KFXXXXXX,자가용,202207,일반소유용,201909,201909.0,95300000.0,1,104000000,456.0,6.3,3315.0,5000.0,None,118000000.0
2173349,10020059000023119,화물,일반형-픽업,소형,3496.0,5.0,300.0,포드F150,2019,휘발유(무연),외산,4도어픽업형,5890.0,2220,1980.0,3710,1890.0,1870.0,자동,1FTFW1RGXKFXXXXXX,자가용,202207,일반소유용,201908,201907.0,93500000.0,1,102000000,456.0,6.3,3315.0,5000.0,None,117000000.0

In [ ]:
# 금액 부분 ->null/ first_pur_amount,dri_system,rpm,consum_rate,max_output
# displacement -> 코드 사용
# amount로 변환 int/float
# date -> datetime (제대로 변경 안될시에 1970.1.1)
# vehicle_cat 채워넣기
# transmission 채워넣기
# max_load 사다리차나 이럴경우 null

In [ ]:
#displacement -> 코드 사용
#저당에는 viehcle name이 없다 -> 오타였삼
pledge.loc[(pledge['vehicle_type'] == '화물') & (pledge['vehicle_name'].str.contains('트레일러')) & (pledge['displacement'].isnull()), 'displacement'] = 0

pledge.loc[(pledge['vehicle_name'].str.contains('싸인카')) & (pledge['displacement'].isnull()), 'displacement'] = 0

In [ ]:
#남은 결측치 확인
pledge['displacement'].isnull().sum()

1521

In [ ]:
# amount float
"""
 25  pur_amount        float32
 
 27  full_bond_amount  int32  

 34  first_pur_amount  float32
"""
pledge['pur_amount']=pledge['pur_amount'].astype('float')
pledge['full_bond_amount']=pledge['full_bond_amount'].astype('float')
pledge['first_pur_amount']=pledge['first_pur_amount'].astype('float')

In [ ]:
print(pledge['pur_amount'].dtype)
print(pledge['full_bond_amount'].dtype)
print(pledge['first_pur_amount'].dtype)

float64
float64
float64

In [ ]:
import datetime as dt

In [ ]:
pledge['first_reg_date'].head()

0    200302
1    200701
2    200404
3    201703
4    200701
Name: first_reg_date, dtype: int32

In [ ]:
pledge['sale_reg_date'].tail()

2173345    202207
2173346    202207
2173347    202207
2173348    202207
2173349    202207
Name: sale_reg_date, dtype: int32

In [ ]:

pledge['first_reg_date']=pledge['first_reg_date'].astype('int')

In [ ]:
for i in range(len(pledge['sale_reg_date'])):
  if pledge['sale_reg_date'][i]<100000:
    pledge['sale_reg_date'][i]=pledge['sale_reg_date'][i]+200000

for i in range(len(pledge['first_reg_date'])):
  if pledge['first_reg_date'][i]<100000:

    pledge['first_reg_date'][i]=pledge['first_reg_date'][i]+200000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pledge['sale_reg_date'].head()

0    201704
1    201704
2    201704
3    201704
4    201704
Name: sale_reg_date, dtype: int32

In [ ]:

pledge['first_reg_date'][925576]=pledge['first_reg_date'][925576]-100000
pledge['first_reg_date'][925946]=pledge['first_reg_date'][925946]-100000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pledge['first_reg_date'][925576]

201104

In [ ]:
# date -> datetime (제대로 변경 안될시에 1970.1.1)

pledge['sale_reg_date']=pledge['sale_reg_date'].astype('str')
pledge['sale_reg_date']=pd.to_datetime(pledge['sale_reg_date'],format='%Y%m')
pledge['first_reg_date']=pledge['first_reg_date'].astype('str')
pledge['first_reg_date']=pd.to_datetime(pledge['first_reg_date'],format='%Y%m')

In [ ]:
pledge=pledge.drop(['man_date'],axis=1)

In [ ]:
pledge.head(20)

,manage_id,vehicle_type,vehicle_model,vehicle_cat,displacement,passenger,max_load,vehicle_name,model_year,fuel,dom_import,vehicle_body,len,width,height,wheelbase,front_wb,back_wb,transmission,vin,purpose,sale_reg_date,reg_detail,first_reg_date,pur_amount,mort_vehicle_num,full_bond_amount,max_output,consum_rate,weight,rpm,dri_system,first_pur_amount
0,A0810005500004302,특수,견인,대형,12920.0,2.0,16500.0,현대트랙터(터보),2003,경유,국산,"ㄷ형프레임,캡오버형",6705.0,2495,2950.0,4350,2040.0,1850.0,수동,KMEFJ18SP3XXXXXX,자가용,2017-04-01,매매상품용,2003-02-01,0.0,1,354000000.0,NaN,NaN,NaN,NaN,None,NaN
1,01220001000014306,특수,견인,대형,10308.0,2.0,16500.0,이베코6X2트랙터,2007,경유,외산,캡오버형,6910.0,2495,3820.0,4595,2040.0,1810.0,자동,WJMS2NSK07XXXXXX,영업용,2017-04-01,일반소유용,2007-01-01,110000000.0,1,40000000.0,NaN,NaN,NaN,NaN,None,NaN
2,01120000500134303,특수,견인,대형,12130.0,2.0,17000.0,FM12 6x4 트랙터,2004,경유,외산,ㄷ프레임.캡오버형,7070.0,2490,3390.0,4770,2030.0,1838.0,수동,YV2J4CFD94XXXXXX,영업용,2017-04-01,일반소유용,2004-04-01,0.0,1,22000000.0,NaN,NaN,NaN,NaN,None,NaN
3,B4S10013200034317,특수,특수작업형,대형,6728.0,2.0,0.0,호룡스카이4504N고소작업차,2018,경유,국산,ㄷ자 프레임 캡오버형,9665.0,2495,3885.0,4900,2075.0,1760.0,수동,KLTDC4CH5JXXXXXX,영업용,2017-04-01,일반소유용,2017-03-01,161000000.0,1,129000000.0,NaN,NaN,NaN,NaN,None,NaN
4,01220001000014306,특수,견인,대형,10308.0,2.0,16500.0,이베코6X2트랙터,2007,경유,외산,캡오버형,6910.0,2495,3820.0,4595,2040.0,1810.0,자동,WJMS2NSK07XXXXXX,영업용,2017-04-01,일반소유용,2007-01-01,110000000.0,1,40000000.0,NaN,NaN,NaN,NaN,None,NaN
5,B4S10013500024216,특수,특수작업형,중형,3933.0,2.0,0.0,호룡SKY3004N고소작업차,2017,경유,국산,ㄷ형프레임캡오버형,7540.0,2140,3135.0,3850,1680.0,1495.0,수동,KMFHA17GPHXXXXXX,영업용,2017-04-01,일반소유용,2017-04-01,117000000.0,1,80000000.0,NaN,NaN,NaN,NaN,None,NaN
6,01120000502784312,특수,견인,대형,12777.0,2.0,16500.0,FM 6x2 트랙터,2013,경유,외산,ㄷ 프레임 캡오버형,7020.0,2490,3420.0,4770,2035.0,1850.0,자동,YV2JG30CXDXXXXXX,영업용,2017-04-01,일반소유용,2013-03-01,55000000.0,1,110000000.0,NaN,NaN,NaN,NaN,None,NaN
7,B7J10005000014216,특수,특수작업형,중형,3933.0,2.0,0.0,한신울트라고소작업차,2017,경유,국산,ㄷ형프레임캡오버형,7535.0,2135,2995.0,3850,1665.0,1495.0,수동,KMFHA17GPHXXXXXX,영업용,2017-04-01,일반소유용,2017-03-01,116000000.0,1,70000000.0,NaN,NaN,NaN,NaN,None,NaN
8,A0810005500674304,특수,견인,대형,12344.0,2.0,16500.0,현대트랙터(터보),2005,경유,국산,"ㄷ형프레임,캡오버형",6725.0,2495,3130.0,4350,2040.0,1850.0,수동,KMEFJ18TP5XXXXXX,영업용,2017-04-01,일반소유용,2004-12-01,NaN,1,38000000.0,NaN,NaN,NaN,NaN,None,NaN
9,A0810007200284306,특수,견인,대형,12344.0,2.0,16500.0,현대트랙터,2007,경유,국산,"ㄷ형프레임,캡오버형",7080.0,2495,3140.0,4650,2040.0,1850.0,자동,KMEHJ18TP7XXXXXX,영업용,2017-04-01,일반소유용,2008-03-01,0.0,1,3000000.0,NaN,NaN,NaN,NaN,None,NaN
10,B0110015200004217,특수,특수작업형,중형,3933.0,3.0,0.0,전진직진식활선고소작업차,2017,경유,국산,ㄷ형프레임캡오버형,6040.0,2080,3700.0,2850,1680.0,1495.0,수동,KMFHA17GPHXXXXXX,영업용,2017-04-01,일반소유용,2017-04-01,173000000.0,1,108000000.0,NaN,NaN,NaN,NaN,None,NaN
11,A0810007204434310,특수,견인,대형,12742.0,2.0,16500.0,현대트랙터,2011,경유,국산,ㄷ형프레임캡오버형,7080.0,2495,3140.0,3300,2060.0,1830.0,자동,KMEHB18PPBXXXXXX,영업용,2017-04-01,일반소유용,2011-01-01,30000000.0,1,70000000.0,NaN,NaN,NaN,NaN,None,NaN
12,B4S10003200004207,특수,특수작업형,중형,2902.0,3.0,0.0,호룡 엘리카 이삿짐 사다리차,2007,경유,국산,ㅁ형프레임.캡오버형,5665.0,1770,3025.0,2810,1470.0,1270.0,수동,KN3HAP8N27XXXXXX,영업용,2017-04-01,일반소유용,2007-08-01,0.0,1,17000000.0,NaN,NaN,NaN,NaN,None,NaN
13,01120000500344306,특수,견인,대형,12780.0,2.0,17000.0,FM 6X2 트랙터,2006,경유,외산,"ㄷ프레임,캡오버형",7060.0,2490,3420.0,4770,2035.0,1830.0,자동,YV2JS02C36XXXXXX,자가용,2017-04-01,일반소유용,2006-04-01,0.0,1,91000000.0,NaN,NaN,NaN,NaN,None,NaN
14,A0310008903734316,특수,견인,대형,11120.0,2.0,17000.0,대우트랙터,2017,경유,국산,ㄷ자 프레임 캡오버형,6920.0,2490,3465.0,3300,2080.0,1850.0,자동,KLUJK4TDAHXXXXXX,영업용,2017-04-01,일반소유용,2017-03-01,141000000.0,1,61000000.0,NaN,NaN,NaN,NaN,None,NaN
15,B3510006300004111,특수,특수작업형,소형,2902.0,3.0,0.0,동해고소작업차-1112,2012,경유,국산,"ㅁ형프레임,캡오버형",5320.0,1740,2580.0,2615,1490.0,1340.0,수동,KNCSJZ74ACXXXXXX,자가용,2017-04-01,일반소유용,2011-11-01,34000000.0,1,15000000.0,NaN,NaN,NaN,NaN,None,NaN
16,03620000500194313,특수,견인,대형,11946.0,2.0,17500.0,Actros,2014,경유,외산,캡오버형,6870.0,2495,3200.0,3300,2036.0,1804.0,자동,WDB934251EXXXXXX,영업용,2017-04-01,일반소유용,2013-10-01,38000000.0,1,140000000.0,NaN,NaN,NaN,NaN,None,NaN
17,BMY10000600014110,특수,구난,소형,1998.0,2.0,500.0,에이엠티줄렉커,2011,경유,국산,4륜구동 본넷트형,5320.0,1900,1900.0,3060,1570.0,1570.0,자동,KPACA4AB1BXXXXXX,자가용,2017-04-01,일반소유용,2011-02-01,1000000.0,1,12000000.0,NaN,NaN,NaN,NaN,None,NaN
18,03620000500194313,특수,견인,대형,11946.0,2.0,17500.0,Actros,2014,경유,외산,캡오버형,6870.0,2495,3200.0,3300,2036.0,1804.0,자동,WDB934251EXXXXXX,영업용,2017-04-01,일반소유용,2013-10-01,38000000.0,1,17000000.0,NaN,NaN,NaN,NaN,None,NaN
19,B0310009600014110,특수,구난,소형,2497.0,3.0,500.0,수성포터 언더리프트,2011,경유,국산,캡오버,5020.0,1740,2145.0,2640,1485.0,1320.0,수동,KMFZCZ7JABXXXXXX,자가용,2017-04-01,일반소유용,2010-10-01,1000000.0,1,25000000.0,NaN,NaN,NaN,NaN,None,NaN

In [ ]:
pledge.isnull().sum()

manage_id                 0
vehicle_type              0
vehicle_model             0
vehicle_cat              48
displacement           1521
passenger               635
max_load                146
vehicle_name              1
model_year                0
fuel                  39785
dom_import                0
vehicle_body            136
len                       1
width                     0
height                    3
wheelbase                 0
front_wb               1188
back_wb                   1
transmission            198
vin                    1291
purpose               13131
sale_reg_date             0
reg_detail                0
first_reg_date            0
pur_amount            19943
mort_vehicle_num          0
full_bond_amount          0
max_output          1153935
consum_rate         1147952
weight              1137097
rpm                 1153982
dri_system          1809000
first_pur_amount    1149299
dtype: int64

In [ ]:
pledge['first_reg_date'].head(5)

0   2003-02-01
1   2007-01-01
2   2004-04-01
3   2017-03-01
4   2007-01-01
Name: first_reg_date, dtype: datetime64[ns]

In [ ]:
pledge['sale_reg_date'].head(5)

0   2017-04-01
1   2017-04-01
2   2017-04-01
3   2017-04-01
4   2017-04-01
Name: sale_reg_date, dtype: datetime64[ns]

In [ ]:
pledge['vehicle_cat'][92034]= '대형'
pledge['vehicle_cat'][121139]= '대형'
pledge['vehicle_cat'][186204]= '대형'
pledge['vehicle_cat'][186446]= '대형'
pledge['vehicle_cat'][232231]= '대형'
pledge['vehicle_cat'][285225]= '대형'
pledge['vehicle_cat'][295732]= '대형'
pledge['vehicle_cat'][296752]= '대형'
pledge['vehicle_cat'][327837]= '대형'
pledge['vehicle_cat'][336610]= '중형'
pledge['vehicle_cat'][399854]= '대형'
pledge['vehicle_cat'][441925]= '대형'
pledge['vehicle_cat'][483782]= '대형'
pledge['vehicle_cat'][577987]= '대형'
pledge['vehicle_cat'][671788]= '대형'
pledge['vehicle_cat'][739696]= '대형'
pledge['vehicle_cat'][739804]= '대형'
pledge['vehicle_cat'][793834]= '대형'
pledge['vehicle_cat'][809201]= '대형'
pledge['vehicle_cat'][809510]= '대형'
pledge['vehicle_cat'][847538]= '대형'
pledge['vehicle_cat'][881545]= '대형'
pledge['vehicle_cat'][883024]= '대형'
pledge['vehicle_cat'][922582]= '대형'
pledge['vehicle_cat'][928174]= '대형'
pledge['vehicle_cat'][1000341]= '대형'
pledge['vehicle_cat'][1016128]= '대형'
pledge['vehicle_cat'][1022156]= '대형'
pledge['vehicle_cat'][1157755]= '대형'
pledge['vehicle_cat'][1184564]= '대형'
pledge['vehicle_cat'][1235441]= '대형'
pledge['vehicle_cat'][1235442]= '대형'
pledge['vehicle_cat'][1270587]= '대형'
pledge['vehicle_cat'][1334938]= '대형'
pledge['vehicle_cat'][1337015]= '대형'
pledge['vehicle_cat'][1337016]= '대형'


pledge['vehicle_cat'][1391762]= '대형'
pledge['vehicle_cat'][1403337]= '대형'
pledge['vehicle_cat'][1403347]= '대형'
pledge['vehicle_cat'][1403350]= '대형'
pledge['vehicle_cat'][1403355]= '대형'
pledge['vehicle_cat'][1403356]= '대형'
pledge['vehicle_cat'][1469676]= '대형'
pledge['vehicle_cat'][1535027]= '대형'
pledge['vehicle_cat'][1595198]= '대형'
pledge['vehicle_cat'][1637154]= '중형'
pledge['vehicle_cat'][1637160]= '대형'
pledge['vehicle_cat'][1994841]= '대형'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# vehicle_cat 채워넣기
pledge[pledge['vehicle_cat'].isnull()]

# max_load 최대 적재량 기준
#1000 이하 소형

#1000-5000 중형
#5000 이상 대형
#그외 none

# transmission 채워넣기

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pledge[pledge['vehicle_cat'].isnull()]

Empty DataFrame
Columns: [manage_id, vehicle_type, vehicle_model, vehicle_cat, displacement, passenger, max_load, vehicle_name, model_year, fuel, dom_import, vehicle_body, len, width, height, wheelbase, front_wb, back_wb, transmission, vin, purpose, sale_reg_date, reg_detail, first_reg_date, pur_amount, mort_vehicle_num, full_bond_amount, max_output, consum_rate, weight, rpm, dri_system, first_pur_amount]
Index: []

In [ ]:
# transmission 채워넣기
pledge.isnull().sum()

manage_id                 0
vehicle_type              0
vehicle_model             0
vehicle_cat               0
displacement           1521
passenger               635
max_load                146
vehicle_name              1
model_year                0
fuel                  39785
dom_import                0
vehicle_body            136
len                       1
width                     0
height                    3
wheelbase                 0
front_wb               1188
back_wb                   1
transmission            198
vin                    1291
purpose               13131
sale_reg_date             0
reg_detail                0
first_reg_date            0
pur_amount            19943
mort_vehicle_num          0
full_bond_amount          0
max_output          1153935
consum_rate         1147952
weight              1137097
rpm                 1153982
dri_system          1809000
first_pur_amount    1149299
dtype: int64

In [ ]:
pledge.dropna(subset=['transmission','vin','purpose'],inplace=True)

In [ ]:
pledge.isnull().sum()

manage_id                 0
vehicle_type              0
vehicle_model             0
vehicle_cat               0
displacement           1521
passenger               634
max_load                144
vehicle_name              0
model_year                0
fuel                  39205
dom_import                0
vehicle_body            126
len                       1
width                     0
height                    3
wheelbase                 0
front_wb               1168
back_wb                   1
transmission              0
vin                       0
purpose                   0
sale_reg_date             0
reg_detail                0
first_reg_date            0
pur_amount             6789
mort_vehicle_num          0
full_bond_amount          0
max_output          1152678
consum_rate         1146790
weight              1136026
rpm                 1152721
dri_system          1804156
first_pur_amount    1148037
dtype: int64

In [ ]:
"""
300335	C5P10000500014117	특수	특수작업형	소형	2497.0	6.0	NaN	오토캠프이동업무용차량	1000
335158
553904	C2C10000400014116	특수	특수작업형	소형	2497.0	2.0	NaN	유니캠프레저용스타렉스 1000
724415	B5G10002100004118	특수	특수작업형	소형	2497.0	3.0	NaN	경인푸드트럭	1000
724421	B5G10002100004118	특수	특수작업형	소형	2497.0	3.0	NaN	경인푸드트럭  1000
793194	B5G10002100004118	특수	특수작업형	소형	2497.0	3.0	NaN	경인푸드트럭  1000
830634	B0L10003700004113	특수	특수작업형	소형	2497.0	3.0	NaN	세정이동판매차	1000
830859	BR510002400004114	특수	특수작업형	소형	2497.0	2.0	NaN	라헬이동업무용차	1000
868391	B5G10002100004118	특수	특수작업형	소형	2497.0	3.0	NaN	경인푸드트럭	1000
1033771	B5G10002100004118	특수	특수작업형	소형	2497.0	3.0	NaN	경인푸드트럭	1000
1200831	B0L10003700004113	특수	특수용도형	소형	2497.0	3.0	NaN	세정이동판매차	1000
1200832	B0L10003700004113	특수	특수용도형	소형	2497.0	3.0	NaN	세정이동판매차	1000
1336033	B5G10002100004118	특수	특수용도형	소형	2497.0	3.0	NaN	경인푸드트럭	1000

1468594	B5G10002100004118	특수	특수용도형	소형	2497.0	3.0	NaN	경인푸드트럭 1000
1932653	B0L10003700004113	특수	특수용도형	소형	2497.0	3.0	NaN	세정이동판매차 1000


2069886	CHM10000200004116	특수	특수용도형	소형	2497.0	3.0	NaN	베스트이동홍보차 1000
"""
pledge['max_load'][300335]= 1000
pledge['max_load'][553904]= 1000
pledge['max_load'][724415]= 1000
pledge['max_load'][724421]= 1000
pledge['max_load'][793194]= 1000
pledge['max_load'][830634]= 1000
pledge['max_load'][830859]= 1000
pledge['max_load'][868391]= 1000
pledge['max_load'][1033771]= 1000
pledge['max_load'][1200831]= 1000
pledge['max_load'][1336033]= 1000
pledge['max_load'][1468594]= 1000
pledge['max_load'][1932653]= 1000
pledge['max_load'][2069886]= 1000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pledge.isnull().sum()

manage_id                 0
vehicle_type              0
vehicle_model             0
vehicle_cat               0
displacement           1521
passenger               634
max_load                130
vehicle_name              0
model_year                0
fuel                  39205
dom_import                0
vehicle_body            126
len                       1
width                     0
height                    3
wheelbase                 0
front_wb               1168
back_wb                   1
transmission              0
vin                       0
purpose                   0
sale_reg_date             0
reg_detail                0
first_reg_date            0
pur_amount             6789
mort_vehicle_num          0
full_bond_amount          0
max_output          1152678
consum_rate         1146790
weight              1136026
rpm                 1152721
dri_system          1804156
first_pur_amount    1148037
dtype: int64

In [ ]:
pledge.isnull().sum()

manage_id               0
vehicle_type            0
vehicle_model           0
vehicle_cat            48
displacement         6068
passenger             635
max_load              146
vehecle_name            1
model_year              0
fuel                39785
dom_import              0
vehicle_body          136
len                     1
width                   0
height                  3
wheelbase               0
front_wb             1188
back_wb                 1
transmission          198
vin                  1291
purpose             13131
sale_reg_date           0
reg_detail              0
first_reg_date          0
man_date             2619
pur_amount              0
mort_vehicle_num        0
full_bond_amount        0
max_output              0
consum_rate             0
weight                  0
rpm                     0
dri_system              0
first_pur_amount        0
dtype: int64

In [ ]:
# mani 칼럼 생성

mani = []

for i in range(len(pledge)):
    if pledge.vin.iloc[i]:
        if pledge.vin.iloc[i][1] == 'V':
            mani.append('폭스바겐')
        elif pledge.vin.iloc[i][1] == 'A':
            mani.append('아우디')
        elif pledge.vin.iloc[i][1] == 'B':
          mani.append('BMW')
        elif pledge.vin.iloc[i][1] == 'D':
          mani.append('벤츠')
        elif pledge.vin.iloc[i][:2] == 'KP':
          mani.append('쌍용')
        elif pledge.vin.iloc[i][1] == 'M':
          mani.append('현대')
        elif pledge.vin.iloc[i][1] == 'L':
          mani.append('대우')
        elif pledge.vin.iloc[i][1] == 'N':
          mani.append('기아')
        elif pledge.vin.iloc[i][1] == 'P':
          mani.append('포르쉐')
        else:
          mani.append('기타')
    else:
        mani.append(None)

In [ ]:
pledge['mani'] = mani
pledge.mani.value_counts(normalize= True)

현대      0.548669
기아      0.224431
쌍용      0.117624
대우      0.072462
기타      0.016425
폭스바겐    0.012189
벤츠      0.006306
아우디     0.001028
BMW     0.000588
포르쉐     0.000278
Name: mani, dtype: float64

In [ ]:
pledge.to_parquet('pledge_n.parquet', index = False)

In [ ]:
#확인
pledge1 = pd.read_parquet('/content/pledge_n.parquet')

In [ ]:
pledge1.head(20)

,manage_id,vehicle_type,vehicle_model,vehicle_cat,displacement,passenger,max_load,vehicle_name,model_year,fuel,dom_import,vehicle_body,len,width,height,wheelbase,front_wb,back_wb,transmission,vin,purpose,sale_reg_date,reg_detail,first_reg_date,pur_amount,mort_vehicle_num,full_bond_amount,max_output,consum_rate,weight,rpm,dri_system,first_pur_amount,mani
0,A0810005500004302,특수,견인,대형,12920.0,2.0,16500.0,현대트랙터(터보),2003,경유,국산,"ㄷ형프레임,캡오버형",6705.0,2495,2950.0,4350,2040.0,1850.0,수동,KMEFJ18SP3XXXXXX,자가용,2017-04-01,매매상품용,2003-02-01,0.0,1,354000000.0,NaN,NaN,NaN,NaN,None,NaN,현대
1,01220001000014306,특수,견인,대형,10308.0,2.0,16500.0,이베코6X2트랙터,2007,경유,외산,캡오버형,6910.0,2495,3820.0,4595,2040.0,1810.0,자동,WJMS2NSK07XXXXXX,영업용,2017-04-01,일반소유용,2007-01-01,110000000.0,1,40000000.0,NaN,NaN,NaN,NaN,None,NaN,기타
2,01120000500134303,특수,견인,대형,12130.0,2.0,17000.0,FM12 6x4 트랙터,2004,경유,외산,ㄷ프레임.캡오버형,7070.0,2490,3390.0,4770,2030.0,1838.0,수동,YV2J4CFD94XXXXXX,영업용,2017-04-01,일반소유용,2004-04-01,0.0,1,22000000.0,NaN,NaN,NaN,NaN,None,NaN,폭스바겐
3,B4S10013200034317,특수,특수작업형,대형,6728.0,2.0,0.0,호룡스카이4504N고소작업차,2018,경유,국산,ㄷ자 프레임 캡오버형,9665.0,2495,3885.0,4900,2075.0,1760.0,수동,KLTDC4CH5JXXXXXX,영업용,2017-04-01,일반소유용,2017-03-01,161000000.0,1,129000000.0,NaN,NaN,NaN,NaN,None,NaN,대우
4,01220001000014306,특수,견인,대형,10308.0,2.0,16500.0,이베코6X2트랙터,2007,경유,외산,캡오버형,6910.0,2495,3820.0,4595,2040.0,1810.0,자동,WJMS2NSK07XXXXXX,영업용,2017-04-01,일반소유용,2007-01-01,110000000.0,1,40000000.0,NaN,NaN,NaN,NaN,None,NaN,기타
5,B4S10013500024216,특수,특수작업형,중형,3933.0,2.0,0.0,호룡SKY3004N고소작업차,2017,경유,국산,ㄷ형프레임캡오버형,7540.0,2140,3135.0,3850,1680.0,1495.0,수동,KMFHA17GPHXXXXXX,영업용,2017-04-01,일반소유용,2017-04-01,117000000.0,1,80000000.0,NaN,NaN,NaN,NaN,None,NaN,현대
6,01120000502784312,특수,견인,대형,12777.0,2.0,16500.0,FM 6x2 트랙터,2013,경유,외산,ㄷ 프레임 캡오버형,7020.0,2490,3420.0,4770,2035.0,1850.0,자동,YV2JG30CXDXXXXXX,영업용,2017-04-01,일반소유용,2013-03-01,55000000.0,1,110000000.0,NaN,NaN,NaN,NaN,None,NaN,폭스바겐
7,B7J10005000014216,특수,특수작업형,중형,3933.0,2.0,0.0,한신울트라고소작업차,2017,경유,국산,ㄷ형프레임캡오버형,7535.0,2135,2995.0,3850,1665.0,1495.0,수동,KMFHA17GPHXXXXXX,영업용,2017-04-01,일반소유용,2017-03-01,116000000.0,1,70000000.0,NaN,NaN,NaN,NaN,None,NaN,현대
8,A0810005500674304,특수,견인,대형,12344.0,2.0,16500.0,현대트랙터(터보),2005,경유,국산,"ㄷ형프레임,캡오버형",6725.0,2495,3130.0,4350,2040.0,1850.0,수동,KMEFJ18TP5XXXXXX,영업용,2017-04-01,일반소유용,2004-12-01,NaN,1,38000000.0,NaN,NaN,NaN,NaN,None,NaN,현대
9,A0810007200284306,특수,견인,대형,12344.0,2.0,16500.0,현대트랙터,2007,경유,국산,"ㄷ형프레임,캡오버형",7080.0,2495,3140.0,4650,2040.0,1850.0,자동,KMEHJ18TP7XXXXXX,영업용,2017-04-01,일반소유용,2008-03-01,0.0,1,3000000.0,NaN,NaN,NaN,NaN,None,NaN,현대
10,B0110015200004217,특수,특수작업형,중형,3933.0,3.0,0.0,전진직진식활선고소작업차,2017,경유,국산,ㄷ형프레임캡오버형,6040.0,2080,3700.0,2850,1680.0,1495.0,수동,KMFHA17GPHXXXXXX,영업용,2017-04-01,일반소유용,2017-04-01,173000000.0,1,108000000.0,NaN,NaN,NaN,NaN,None,NaN,현대
11,A0810007204434310,특수,견인,대형,12742.0,2.0,16500.0,현대트랙터,2011,경유,국산,ㄷ형프레임캡오버형,7080.0,2495,3140.0,3300,2060.0,1830.0,자동,KMEHB18PPBXXXXXX,영업용,2017-04-01,일반소유용,2011-01-01,30000000.0,1,70000000.0,NaN,NaN,NaN,NaN,None,NaN,현대
12,B4S10003200004207,특수,특수작업형,중형,2902.0,3.0,0.0,호룡 엘리카 이삿짐 사다리차,2007,경유,국산,ㅁ형프레임.캡오버형,5665.0,1770,3025.0,2810,1470.0,1270.0,수동,KN3HAP8N27XXXXXX,영업용,2017-04-01,일반소유용,2007-08-01,0.0,1,17000000.0,NaN,NaN,NaN,NaN,None,NaN,기아
13,01120000500344306,특수,견인,대형,12780.0,2.0,17000.0,FM 6X2 트랙터,2006,경유,외산,"ㄷ프레임,캡오버형",7060.0,2490,3420.0,4770,2035.0,1830.0,자동,YV2JS02C36XXXXXX,자가용,2017-04-01,일반소유용,2006-04-01,0.0,1,91000000.0,NaN,NaN,NaN,NaN,None,NaN,폭스바겐
14,A0310008903734316,특수,견인,대형,11120.0,2.0,17000.0,대우트랙터,2017,경유,국산,ㄷ자 프레임 캡오버형,6920.0,2490,3465.0,3300,2080.0,1850.0,자동,KLUJK4TDAHXXXXXX,영업용,2017-04-01,일반소유용,2017-03-01,141000000.0,1,61000000.0,NaN,NaN,NaN,NaN,None,NaN,대우
15,B3510006300004111,특수,특수작업형,소형,2902.0,3.0,0.0,동해고소작업차-1112,2012,경유,국산,"ㅁ형프레임,캡오버형",5320.0,1740,2580.0,2615,1490.0,1340.0,수동,KNCSJZ74ACXXXXXX,자가용,2017-04-01,일반소유용,2011-11-01,34000000.0,1,15000000.0,NaN,NaN,NaN,NaN,None,NaN,기아
16,03620000500194313,특수,견인,대형,11946.0,2.0,17500.0,Actros,2014,경유,외산,캡오버형,6870.0,2495,3200.0,3300,2036.0,1804.0,자동,WDB934251EXXXXXX,영업용,2017-04-01,일반소유용,2013-10-01,38000000.0,1,140000000.0,NaN,NaN,NaN,NaN,None,NaN,벤츠
17,BMY10000600014110,특수,구난,소형,1998.0,2.0,500.0,에이엠티줄렉커,2011,경유,국산,4륜구동 본넷트형,5320.0,1900,1900.0,3060,1570.0,1570.0,자동,KPACA4AB1BXXXXXX,자가용,2017-04-01,일반소유용,2011-02-01,1000000.0,1,12000000.0,NaN,NaN,NaN,NaN,None,NaN,쌍용
18,03620000500194313,특수,견인,대형,11946.0,2.0,17500.0,Actros,2014,경유,외산,캡오버형,6870.0,2495,3200.0,3300,2036.0,1804.0,자동,WDB934251EXXXXXX,영업용,2017-04-01,일반소유용,2013-10-01,38000000.0,1,17000000.0,NaN,NaN,NaN,NaN,None,NaN,벤츠
19,B0310009600014110,특수,구난,소형,2497.0,3.0,500.0,수성포터 언더리프트,2011,경유,국산,캡오버,5020.0,1740,2145.0,2640,1485.0,1320.0,수동,KMFZCZ7JABXXXXXX,자가용,2017-04-01,일반소유용,2010-10-01,1000000.0,1,25000000.0,NaN,NaN,NaN,NaN,None,NaN,현대

In [ ]:
pledge1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2158730 entries, 0 to 2158729
Data columns (total 34 columns):
 #   Column            Dtype
---  ------            -----
 0   manage_id         object
 1   vehicle_type      object
 2   vehicle_model     object
 3   vehicle_cat       object
 4   displacement      float32
 5   passenger         float32
 6   max_load          float32
 7   vehicle_name      object
 8   model_year        int32
 9   fuel              object
 10  dom_import        object
 11  vehicle_body      object
 12  len               float64
 13  width             int32
 14  height            float32
 15  wheelbase         int32
 16  front_wb          float32
 17  back_wb           float64
 18  transmission      object
 19  vin               object
 20  purpose           object
 21  sale_reg_date     datetime64[ns]
 22  reg_detail        object
 23  first_reg_date    datetime64[ns]
 24  pur_amount        float64
 25  mort_vehicle_num  int32
 26  full_bond_amount  float64
 27  max_output        float64
 28  consum_rate       float32
 29  weight            float64
 30  rpm               float64
 31  dri_system        object
 32  first_pur_amount  float64
 33  mani              object
dtypes: datetime64[ns](2), float32(6), float64(8), int32(4), object(14)
memory usage: 477.6+ MB

In [ ]:
pledge1.isnull().sum()

manage_id                 0
vehicle_type              0
vehicle_model             0
vehicle_cat               0
displacement           1521
passenger               634
max_load                130
vehicle_name              0
model_year                0
fuel                  39205
dom_import                0
vehicle_body            126
len                       1
width                     0
height                    3
wheelbase                 0
front_wb               1168
back_wb                   1
transmission              0
vin                       0
purpose                   0
sale_reg_date             0
reg_detail                0
first_reg_date            0
pur_amount             6789
mort_vehicle_num          0
full_bond_amount          0
max_output          1152678
consum_rate         1146790
weight              1136026
rpm                 1152721
dri_system          1804156
first_pur_amount    1148037
mani                      0
dtype: int64

In [ ]:
"""
change.loc[(change['vehicle_type'] == '화물') & (change['vehicle_name'].str.contains('트레일러')) & (change['displacement'].isnull()), 'displacement'] = 0

change.loc[(change['vehicle_name'].str.contains('싸인카')) & (change['displacement'].isnull()), 'displacement'] = 0

"""