In [ ]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [ ]:
import pandas as pd

In [ ]:
# 데이터 불러오기
df = pd.read_csv('/content/drive/MyDrive/cp2/영업용화물차량등록현황.csv',index_col=0)
df.head()

,날짜,총계,승용차합계,승용일반형 계,승용일반형 국산 소계,승용일반형 국산 800CC미만,승용일반형 국산 1000CC미만,승용일반형 국산 1500CC미만,승용일반형 국산 2000CC미만,승용일반형 국산 2500CC미만,...,화물특수용도형(노면청소차),"화물특수용도형(곡물,사료운반)",특수용도형 계,특수용도형(고소작업차),특수용도형(고가사다리소방차),특수용도형(오가크레인),특수용도형(피견인형),특수용도형(기타),특수작업형(피견인형),화물특수용도형(청소차)
0,2002-01-01,672958,287490,282975,282811,280,2,7767,252615,8872,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-02-01,676325,288372,283724,283556,284,2,7793,252962,8889,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002-03-01,681800,290012,285202,285026,289,2,7776,253795,8832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-04-01,686971,291520,286374,286190,293,3,7866,253940,8738,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-05-01,693690,294273,288783,288595,282,3,7896,255063,8656,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['화물특수용도형(냉장,냉동차)']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
243    22192.0
244    22415.0
245    22659.0
246    22807.0
247    22868.0
Name: 화물특수용도형(냉장,냉동차), Length: 248, dtype: float64

In [ ]:
df['화물특수용도형(냉장, 냉동차)']

0      4584.0
1      4563.0
2      4556.0
3      4528.0
4      4547.0
        ...
243       NaN
244       NaN
245       NaN
246       NaN
247       NaN
Name: 화물특수용도형(냉장, 냉동차), Length: 248, dtype: float64

In [ ]:
a=pd.concat([df['화물특수용도형(냉장, 냉동차)'],df['화물특수용도형(냉장,냉동차)']],axis =0)

In [ ]:
a=a.dropna()

In [ ]:
df['화물특수용도형(냉장, 냉동차)']

0      4584.0
1      4563.0
2      4556.0
3      4528.0
4      4547.0
        ...
243       NaN
244       NaN
245       NaN
246       NaN
247       NaN
Name: 화물특수용도형(냉장, 냉동차), Length: 248, dtype: float64

In [ ]:
df.drop(['화물특수용도형(냉장, 냉동차)','화물특수용도형(냉장,냉동차)'],axis=1,inplace=True)

In [ ]:
a=a.values.tolist()

In [ ]:
len(a)

248

In [ ]:
# 열추가

df['화물특수용도형(냉장,냉동차)']=a

In [ ]:
#확인
df['화물특수용도형(냉장,냉동차)']

0       4584.0
1       4563.0
2       4556.0
3       4528.0
4       4547.0
        ...
243    22192.0
244    22415.0
245    22659.0
246    22807.0
247    22868.0
Name: 화물특수용도형(냉장,냉동차), Length: 248, dtype: float64

In [ ]:
# 다른 중복열도 다 변환 

a=pd.concat([df['화물특수용도형(곡물, 사료운반)'],df['화물특수용도형(곡물,사료운반)']],axis =0)
a=a.dropna()
df.drop(['화물특수용도형(곡물, 사료운반)','화물특수용도형(곡물,사료운반)'],axis=1,inplace=True)
a=a.values.tolist()

df['화물특수용도형(곡물,사료운반)']=a

In [ ]:
#확인
df['화물특수용도형(곡물,사료운반)']

0       995.0
1       991.0
2       988.0
3       988.0
4       989.0
        ...
243    1617.0
244    1619.0
245    1626.0
246    1629.0
247    1633.0
Name: 화물특수용도형(곡물,사료운반), Length: 248, dtype: float64

In [ ]:
# 다른 중복열도 다 변환 

a=pd.concat([df['특수작업형(피견인형)'],df['특수용도형(피견인형)']],axis =0)
a=a.dropna()
df.drop(['특수작업형(피견인형)','특수용도형(피견인형)'],axis=1,inplace=True)
a=a.values.tolist()
b=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
a= b+a
df['특수용도형(피견인형)']=a

In [ ]:
df['특수용도형(피견인형)']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
243     9.0
244     9.0
245    10.0
246    10.0
247    10.0
Name: 특수용도형(피견인형), Length: 248, dtype: float64

In [ ]:
a=pd.concat([df['특수작업형 계'],df['특수용도형 계']],axis =0)
a=a.dropna()
df.drop(['특수작업형 계','특수용도형 계'],axis=1,inplace=True)
a=a.values.tolist()

df['특수용도형 계']=a

In [ ]:
df['특수용도형 계']

0       1445.0
1       1398.0
2       1386.0
3       1360.0
4       1342.0
        ...
243    23705.0
244    23812.0
245    23895.0
246    24034.0
247    24100.0
Name: 특수용도형 계, Length: 248, dtype: float64

In [ ]:
a=pd.concat([df['특수작업형(고소작업차)'],df['특수용도형(고소작업차)']],axis =0)
a=a.dropna()
df.drop(['특수작업형(고소작업차)','특수용도형(고소작업차)'],axis=1,inplace=True)
a=a.values.tolist()

df['특수용도형(고소작업차)']=a

In [ ]:
df['특수용도형(고소작업차)']

0         12.0
1         13.0
2         14.0
3         13.0
4         13.0
        ...
243    13132.0
244    13223.0
245    13298.0
246    13404.0
247    13453.0
Name: 특수용도형(고소작업차), Length: 248, dtype: float64

In [ ]:
a=pd.concat([df['특수작업형(고가사다리소방차)'],df['특수용도형(고가사다리소방차)']],axis =0)
a=a.dropna()
df.drop(['특수작업형(고가사다리소방차)','특수용도형(고가사다리소방차)'],axis=1,inplace=True)
a=a.values.tolist()

df['특수작업형(고가사다리소방차)']=a

In [ ]:
df['특수작업형(고가사다리소방차)']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
243    481.0
244    479.0
245    474.0
246    474.0
247    474.0
Name: 특수작업형(고가사다리소방차), Length: 248, dtype: float64

In [ ]:
a=pd.concat([df['특수작업형(오가크레인)'],df['특수용도형(오가크레인)']],axis =0)
a=a.dropna()
df.drop(['특수작업형(오가크레인)','특수용도형(오가크레인)'],axis=1,inplace=True)
a=a.values.tolist()

df['특수작업형(오가크레인)']=a

In [ ]:
df['특수작업형(오가크레인)']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
243    1.0
244    1.0
245    1.0
246    1.0
247    1.0
Name: 특수작업형(오가크레인), Length: 248, dtype: float64

In [ ]:
a=pd.concat([df['특수작업형(기타)'],df['특수용도형(기타)']],axis =0)
a=a.dropna()
df.drop(['특수작업형(기타)','특수용도형(기타)'],axis=1,inplace=True)
a=a.values.tolist()

df['특수작업형(기타)']=a

In [ ]:
df['특수작업형(기타)']

0       1433.0
1       1385.0
2       1372.0
3       1347.0
4       1329.0
        ...
243    10082.0
244    10100.0
245    10112.0
246    10145.0
247    10162.0
Name: 특수작업형(기타), Length: 248, dtype: float64

In [ ]:
a=pd.concat([df['화물특수용도형(노면청소자)'],df['화물특수용도형(노면청소차)']],axis =0)
a=a.dropna()
df.drop(['화물특수용도형(노면청소자)','화물특수용도형(노면청소차)'],axis=1,inplace=True)
a=a.values.tolist()

df['화물특수용도형(노면청소차)']=a

In [ ]:
df['화물특수용도형(노면청소차)']

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
       ...
243    155.0
244    153.0
245    154.0
246    155.0
247    157.0
Name: 화물특수용도형(노면청소차), Length: 248, dtype: float64

In [ ]:
from zmq.constants import NULL
a=pd.concat([df['화물특수용도형(청소자)'],df['화물특수용도형(청소차)']],axis =0)

a[92]=NULL
a=a.dropna()
df.drop(['화물특수용도형(청소자)','화물특수용도형(청소차)'],axis=1,inplace=True)
a=a.values.tolist()

df['화물특수용도형(청소차)']=a

In [ ]:
len(a)

248

In [ ]:
df['화물특수용도형(청소차)']

0       250.0
1       261.0
2       276.0
3       285.0
4       292.0
        ...
243    1355.0
244    1360.0
245    1367.0
246    1368.0
247    1360.0
Name: 화물특수용도형(청소차), Length: 248, dtype: float64

In [ ]:
#전처리 확인
df.columns

Index(['날짜', '총계', '승용차합계', '승용일반형 계', '승용일반형 국산 소계', '승용일반형 국산 800CC미만',
       '승용일반형 국산 1000CC미만', '승용일반형 국산 1500CC미만', '승용일반형 국산 2000CC미만',
       '승용일반형 국산 2500CC미만',
       ...
       '화물특수용도형(냉장,냉동차)', '화물특수용도형(곡물,사료운반)', '특수용도형(피견인형)', '특수용도형 계',
       '특수용도형(고소작업차)', '특수작업형(고가사다리소방차)', '특수작업형(오가크레인)', '특수작업형(기타)',
       '화물특수용도형(노면청소차)', '화물특수용도형(청소차)'],
      dtype='object', length=143)

In [ ]:
df=df.fillna(0)

In [ ]:
#결측치 확인
df.isnull().sum()

날짜                 0
총계                 0
승용차합계              0
승용일반형 계            0
승용일반형 국산 소계        0
                  ..
특수작업형(고가사다리소방차)    0
특수작업형(오가크레인)       0
특수작업형(기타)          0
화물특수용도형(노면청소차)     0
화물특수용도형(청소차)       0
Length: 143, dtype: int64

In [ ]:
df['견인차 10톤 이하']

0      508.0
1      504.0
2      498.0
3      497.0
4      499.0
       ...
243      0.0
244      0.0
245      0.0
246      0.0
247      0.0
Name: 견인차 10톤 이하, Length: 248, dtype: float64

In [ ]:
df.to_csv(r'영업용화물차량등록현황_전처리_1.csv')