In [ ]:
!pip3 install pickle5
# pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pickle5
  Downloading pickle5-0.0.12-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (256 kB)
     |████████████████████████████████| 256 kB 10.2 MB/s
Installing collected packages: pickle5
Successfully installed pickle5-0.0.12

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import pickle5 as pickle
import numpy as np

In [ ]:
plt.rcParams['font.family'] = 'AppleGothic'
pd.set_option('display.max_columns', None)

#구글 드라이브에서 .pkl파일 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

##피클 복호화 하기

In [ ]:
import pickle5 as pickle

registration = None
change_1 = None
change_2 = None
cancel_1 = None
cancel_2 = None
new_1 = None
new_2 = None
pre_1 = None
pledge_1 = None
pledge_2 = None


with open('/content/gdrive/MyDrive/cp2/영업용 화물차등록현황 02.01-22.08.pkl','rb') as pickle_file:
   registration = pickle.load(pickle_file)

with open('/content/gdrive/MyDrive/cp2/pickle/구조변경정보 17.4-19.12.pkl','rb') as pickle_file:
   change_1 = pickle.load(pickle_file)

with open('/content/gdrive/MyDrive/cp2/pickle/구조변경정보 20.1-22.07.pkl','rb') as pickle_file:
   change_2 = pickle.load(pickle_file)

with open('/content/gdrive/MyDrive/cp2/pickle/말소등록정보 17.4-19.12.pkl','rb') as pickle_file:
   cancel_1 = pickle.load(pickle_file)

with open('/content/gdrive/MyDrive/cp2/pickle/말소등록정보 20.1-22.07.pkl','rb') as pickle_file:
   cancel_2 = pickle.load(pickle_file)

with open('/content/gdrive/MyDrive/cp2/pickle/신규등록정보 17.4-19.12.pkl','rb') as pickle_file:
   new_1 = pickle.load(pickle_file)

with open('/content/gdrive/MyDrive/cp2/pickle/신규등록정보 20.1-22.07.pkl','rb') as pickle_file:
   new_2 = pickle.load(pickle_file)

with open('/content/gdrive/MyDrive/cp2/pickle/이전등록정보 17.4-19.12.pkl','rb') as pickle_file:
   transfer_1 = pickle.load(pickle_file)

with open('/content/gdrive/MyDrive/cp2/pickle/저당등록정보 17.4-19.12.pkl','rb') as pickle_file:
   pledge_1 = pickle.load(pickle_file)

with open('/content/gdrive/MyDrive/cp2/pickle/저당등록정보 20.1-22.07.pkl','rb') as pickle_file:
   pledge_2 = pickle.load(pickle_file)

In [ ]:
registration.head(2)

,날짜,총계,승용차합계,승용일반형 계,승용일반형 국산 소계,승용일반형 국산 800CC미만,승용일반형 국산 1000CC미만,승용일반형 국산 1500CC미만,승용일반형 국산 2000CC미만,승용일반형 국산 2500CC미만,승용일반형 국산 3000CC미만,승용일반형 국산 3500CC미만,승용일반형 국산 4000CC미만,승용일반형 국산 4500CC미만,승용일반형 국산 5000CC미만,승용일반형 국산 5000CC이상,승용일반형 외산 소계,승용일반형 외산 800CC미만,승용일반형 외산 1000CC미만,승용일반형 외산 1500CC미만,승용일반형 외산 2000CC미만,승용일반형 외산 2500CC미만,승용일반형 외산 3000CC미만,승용일반형 외산 3500CC미만,승용일반형 외산 4000CC미만,승용일반형 외산 4500CC미만,승용일반형 외산 5000CC미만,승용일반형 외산 5000CC이상,승용겸 화물 계,승용겸 화물 1500CC미만,승용겸 화물 2000CC미만,승용겸 화물 2500CC미만,승용겸 화물 3000CC미만,승용겸 화물 3500CC미만,승용겸 화물 3500CC이상,승용다목적형 계,승용다목적형 1500CC미만,승용다목적형 2000CC미만,승용다목적형 2500CC미만,승용다목적형 3000CC미만,승용다목적형 3500CC미만,승용다목적형 3500CC이상,승용기타형 계,승용기타형 1500CC미만,승용기타형 2000CC미만,승용기타형 2500CC미만,승용기타형 3000CC미만,승용기타형 3500CC미만,승용기타형 3500CC이상,승합차 합계,승합일반형 계,시내버스,시외버스,전세버스,고속버스,농어촌버스,마을버스,승합일반기타형 계,승합일반 15인 이하,승합일반 25인 이하,승합일반 35인 이하,승합일반 50인 이하,승합일반 51인 이상,승합특수형 계,구급차,장의차,헌혈,방송,승합특수형 기타,화물자동차 합계,화물일반형 계,화물 픽업형,화물카고형 계,화물카고형 1톤 이하,화물카고형 3톤 이하,화물카고형 5톤 미만,화물카고형 8톤 미만,화물카고형 10톤 미만,화물카고형 12톤 미만,화물카고형 12톤 이상,화물덤프형 계,화물덤프형 1톤 이하,화물덤프형 5톤 미만,화물덤프형 12톤 미만,화물덤프형 12톤 이상,화물 밴형 계,화물밴형 1톤 이하,화물밴형 5톤 미만,화물밴형 5톤 이상,화물특수용도형 계,화물특수용도형(청소자),화물특수용도형(노면청소자),화물특수용도형(살수차),화물특수용도형(소방차),"화물특수용도형(냉장, 냉동차)","화물특수용도형(곡물, 사료운반)",유조차 소계,유조차(항공유),유조차(휘발유),"유조차(등유, 경유)",유조차(방카C유),유조차(기타),탱크로리 소계,"탱크로리(식수, 음료)",탱크로리(압축가스),탱크로리(화공약품),탱크로리(기타),피견인차 소계,피견인차(적재함형),피견인차(저상형),피견인차(평판형),피견인차(콘테이너샤시),피견인차(기타),화물특수용도형(기타),특수자동차 합계,구난차 계,구난차 5톤 이하,구난차 10톤 미만,구난차 10톤 이상,견인차 계,견인차 10톤 이하,견인차 10톤 미만,견인차 10톤 이상,특수작업형 계,특수작업형(고소작업차),특수작업형(고가사다리소방차),특수작업형(오가크레인),특수작업형(기타),견인차 5톤 이하,"헌혈, 채혈차","방송, 보도용차","화물특수용도형(냉장,냉동차)",승용일반형 국산 저속전기,승용일반형 국산 전기,승용일반형 외산 저속전기,승용일반형 외산 전기,승용겸 화물 저속전기,승용겸 화물 전기,승용다목적형 저속전기,승용다목적형 전기,승용기타형 저속전기,승용기타형 전기,승합피견인형,화물특수용도형(노면청소차),"화물특수용도형(곡물,사료운반)",특수용도형 계,특수용도형(고소작업차),특수용도형(고가사다리소방차),특수용도형(오가크레인),특수용도형(피견인형),특수용도형(기타),특수작업형(피견인형),화물특수용도형(청소차)
0,2002-01-01,672958,287490,282975,282811,280,2,7767,252615,8872,11626,1520,28,101,0,0,164,0,0,15,16,17,42,27,10,14,19,4,65,3,1,11,0,0,50,2968,0,176,2163,611,9,9,1482,0,221,653,593,1,14,80385,79694,27295,15242,25953,696,0,0,10508,10280,225,3,0,0,691,38,644,0.0,1.0,8,274681,206117,94,206023,72928,35997,30296,26090,8218,14345,18149,3418,443,2023,847,105,14684,14233,343,108,50462,250.0,1.0,58,0,4584.0,995.0,2548,89,72,873,19,1495,3697,6,107,13,3571,31705,4281,1304,8276,10667,7177,6624,30402,5912,5830,69,13,23045,508.0,749,21788,1445.0,12.0,0.0,0.0,1433.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-02-01,676325,288372,283724,283556,284,2,7793,252962,8889,11947,1549,27,103,0,0,168,0,0,15,17,20,43,27,9,14,19,4,64,2,1,11,0,0,50,3031,0,178,2187,647,9,10,1553,0,237,690,611,1,14,80717,80026,27346,15346,26161,702,0,0,10471,10252,216,3,0,0,691,39,642,0.0,1.0,9,276755,207775,108,207667,73615,36235,30774,26178,8197,14363,18305,3453,449,2051,848,105,14847,14395,344,108,50680,261.0,1.0,57,0,4563.0,991.0,2561,88,72,884,19,1498,3672,6,108,13,3545,31899,4269,1306,8308,10697,7319,6675,30481,5931,5848,69,14,23152,504.0,751,21897,1398.0,13.0,0.0,0.0,1385.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
change_1.head(2)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,용도구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,구조변경명
0,A0310008500394310,특수,견인,대형,ISM,EL3TM8,10824.0,2.0,17000.0,대우트랙터,2011,경유,국산,캡오버형,6865,2490,3550,4565.0,2090.0,1860.0,자동,2011.0,인천XX아XXXX,KLUEL3TM8BXXXXXX,영업용,201704,일반소유용,201103,201009.0,법인및사업자,NaN,인천광역시 동구,인천광역시 동구,동력전달장치
1,00220002100024303,특수,견인,대형,OM501LA,2644LS,11946.0,2.0,17500.0,Actros,2004,경유,외산,캡오버형,6835,2495,3250,4650.0,2036.0,1804.0,수동,2004.0,경북XX아XXXX,WDB9342414XXXXXX,영업용,201704,일반소유용,200402,200312.0,법인및사업자,NaN,경상북도 의성군,경상북도 의성군,동력전달장치

In [ ]:
change_2.head(2)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,용도구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,구조변경명,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
0,A0310006900894307,특수,견인,대형,ISM,V3TNF3,10824.0,2.0,17000.0,대우트랙터,2008,경유,국산,캡오버형,6865,2495,3055,4565.0,2080.0,1860.0,수동,2008.0,인천XX자XXXX,KL4V3TNF38KXXXXXX,영업용,202001,일반소유용,200801,200801.0,법인및사업자,NaN,인천광역시 중구,서울특별시 중구,배기가스발산방지장치,415.0,3.0,8770,25900,A0310006900004304,1900.0,12R22.5-16PR(S),12R22.5-16PR(D),NaN,NaN,NaN,NaN,80900000.0
1,10161200000000,특수,구난,소형,JT,KK-WR500K,2957.0,3.0,500.0,금강소형렉커차,2002,경유,국산,캡오버형,4710,1750,2230,2385.0,1505.0,1460.0,수동,NaN,XX고XXXX,KP9ZJ4MDD2EXXXXXX,자가용,200703,일반소유용,200211,200211.0,개인,50대 남자,전라남도 고흥군,전라남도 고흥군,등화장치,90.0,14.0,2300,2995,NaN,4000.0,6.50-14-10PR,NaN,6.50-14-10PR,NaN,NaN,NaN,0.0

In [ ]:
cancel_1.head(2)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,주행거리
0,10008400140002,특수,견인,대형,OM442A,CWE60GTL-BC,14618.0,3.0,17000.0,쌍용트랙타,1997,경유,국산,캡오바,6655.0,2495.0,3100.0,4350.0,2040.0,1860.0,수동,NaN,인천XX바XXXX,KPFMC7CM1RXXXXXX,인천,영업용,자진말소(폐차),201704,일반소유용,199405,199405.0,법인및사업자,NaN,인천광역시 서구,인천광역시 서구,500000.0
1,10096500120000,특수,견인,대형,D6CA,HD440-TRT-THA,12920.0,2.0,16500.0,현대트랙터(터보),2001,경유,국산,캡오버형,6685.0,2495.0,2950.0,4350.0,2040.0,1850.0,수동,NaN,XX보XXXX,KMEFJ18SP1XXXXXX,대구,자가용,자진말소(수출예정),201704,매매상품용,200111,200110.0,법인및사업자,NaN,경상북도 포항시 남구,경상북도 포항시 남구,378000.0

In [ ]:
cancel_2.head(2)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,주행거리,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
0,10156400030000,특수,구난,중형,D4CB,KJW-HL113,2497.0,3.0,500.0,국제렉커차,2002,경유,국산,"H,세미본네트",5490.0,1820.0,2100.0,3280.0,1570.0,1410.0,수동,NaN,XX부XXXX,NaN,충북,자가용,자진말소(폐차),202001,일반소유용,200211,200210.0,개인,70대 남자,충청북도 청주시 청원구,충청북도 청주시 청원구,420000.0,103.0,13.6,2720.0,3415.0,NaN,3800.0,195R14C-6PR,NaN,5.5R13-10PR(D),NaN,NaN,NaN,0.0
1,20309900000000,특수,견인,대형,DSC1201,P124GA6X2NZ,11705.0,2.0,17500.0,스카니아트랙터,2000,경유,외산,"ㄷ형후레임,캡오버형",6755.0,2490.0,3000.0,4415.0,2089.0,1828.0,수동,NaN,인천XX사XXXX,NaN,인천,영업용,자진말소(대폐차),202001,일반소유용,199903,199903.0,법인및사업자,NaN,인천광역시 중구,인천광역시 중구,746000.0,400.0,3.1,8180.0,25810.0,NaN,1900.0,12R22.5-16PR,NaN,12R22.5-16PR(D),NaN,NaN,NaN,NaN

In [ ]:
new_1.head(2)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액
0,BMY10004800004116,특수,구난,소형,672960,AMTK1.0ATP-UD5,2157.0,2,500.0,에이엠티언더리프트,2017,경유,국산,4륜구동 본넷트형,4960.0,1910.0,1790.0,3060.0,1570.0,1570.0,자동,2017.0,경기XX바XXXX,KPACA4AE1HXXXXXX,경기,영업용,신조차 신규등록,201704,일반소유용,201704,201703.0,법인및사업자,NaN,경기도 용인시 수지구,경기도 용인시 수지구,43000000.0
1,B3510023500004116,특수,특수작업형,소형,D4CB,DHS433L-13,2497.0,3,0.0,동해이동정비차,2017,경유,국산,ㄷ형프레임 캡오버형,5485.0,1765.0,2145.0,2810.0,1470.0,1270.0,수동,2017.0,XX도XXXX,KNCWJZ76AHXXXXXX,서울,자가용,신조차 신규등록,201704,일반소유용,201704,201704.0,법인및사업자,NaN,인천광역시 부평구,서울특별시 영등포구,50000000.0

In [ ]:
new_2.head(2)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
0,B9110001200004119,특수,특수용도형,소형,NaN,SHRSB-VB2-2020,0.0,0,0.0,성화사인보드트레일러,2020,NaN,국산,피견인형,3900.0,2100.0,2850.0,3030.0,0.0,1505.0,변속기 없음,2020.0,XX너XXXX,KP9GN3ZTZLSXXXXXX,경기,자가용,신조차 신규등록,201912,일반소유용,201912,201912.0,법인및사업자,NaN,경상북도 김천시,경상북도 김천시,21700000,NaN,NaN,1750.0,1750.0,NaN,NaN,NaN,NaN,205/75R17.5-12PR(D),NaN,NaN,없음,21700000.0
1,1GX20000400004307,특수,견인,대형,C12,C500B,11950.0,2,14500.0,켄올스트랙터,2007,경유,외산,본네트형,8195.0,2495.0,3100.0,5660.0,2010.0,1830.0,자동,2007.0,XX나XXXX,1XKCPUTX67RXXXXXX,경남,자가용,부활차이전등록,202001,일반소유용,201009,200702.0,법인및사업자,NaN,경상남도 창원시 의창구,경상남도 창원시 의창구,10000000,436.0,3.5,11340.0,25970.0,NaN,1900.0,315/80R22.5(S),315/80R22.5(D),NaN,NaN,NaN,NaN,195000000.0

In [ ]:
transfer_1.head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,이전등록구분명,등록상세명,매매상품구분명,변경전등록상세명,변경전매매상품구분명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,주행거리,변경전회원구분명,변경전회원등록번호,변경전사용본거지주소명
0,A0810007203374309,특수,견인,대형,D6CC,HD62T-10ALg-A,12344.0,2.0,17000.0,현대트랙터,2010,경유,국산,"ㄷ형프레임,캡오버형",7080.0,2495.0,3145.0,4650.0,2040.0,1830.0,자동,2010.0,XX보XXXX,KMEHR18NPAXXXXXX,부산,자가용,단순이전,201704,매매업자거래이전,매매상품용,상품용,일반소유용,NaN,201005,200912.0,개인,40대 남자,부산광역시 강서구,부산광역시 강서구,15000000.0,467000.0,법인및사업자,NaN,부산광역시 강서구

In [ ]:
pledge_1.head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,매매상품구분명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,을부번호,저당등록구분명,저당차량수,최초저당설정일,저당권자회원구분명,저당권자등록번호,저당권자주소명,총채권금액
0,A0810005500004302,특수,견인,대형,D6CA,HD440-T640-THA,12920.0,2.0,16500.0,현대트랙터(터보),2003,경유,국산,"ㄷ형프레임,캡오버형",6705.0,2495,2950.0,4350,2040.0,1850.0,수동,2003.0,XX소XXXX,KMEFJ18SP3XXXXXX,서울,자가용,저당말소,201704,매매상품용,NaN,200302,200302.0,법인및사업자,NaN,충청남도 천안시 동남구,서울특별시 송파구,0.0,44272003XXXXXX,공동저당,1,200302.0,법인및사업자,NaN,서울특별시 영등포구,354000000

In [ ]:
pledge_2.head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,매매상품구분명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,을부번호,저당등록구분명,저당차량수,최초저당설정일,저당권자회원구분명,저당권자등록번호,저당권자주소명,총채권금액,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
0,10161000010000,특수,구난,중형,D4DA,SW203-1,3907.0,3.0,1100.0,수성중형렉커트럭,2001,경유,국산,캡오버형,6395,2000,2690.0,3570,1665.0,1495,수동,NaN,XX구XXXX,NaN,인천,자가용,저당말소,202001,일반소유용,NaN,200012,200012.0,개인,50대 남자,서울특별시 강서구,서울특별시 강서구,0.0,11182013XXXXXX,단독저당,1,201306.0,법인및사업자,NaN,서울특별시 영등포구,15000000,140,10.1,4425.0,5720,NaN,2900,7.00-16-10PR,NaN,7.00-16-10PR(D),NaN,NaN,NaN,0.0

##데이터 크기

In [ ]:
registration.shape

((248, 153), (21927, 47))

In [ ]:
change_1.shape, change_2.shape

((281329, 34), (327808, 47))

In [ ]:
cancel_1.shape, cancel_2.shape

((604179, 36), (540685, 49))

In [ ]:
new_1.shape, new_2.shape

((705046, 36), (648635, 49))

In [ ]:
transfer_1.shape

(1653765, 44)

In [ ]:
pledge_1.shape, pledge_2.shape

((1137097, 45), (1036253, 58))

## 메모리 최적화(int64 -> int32, float64 -> float32, object -> category)

In [ ]:
def going_to_light(df):
    for i in df.columns:
        if df[i].dtype == 'int64':
            df[i] = df[i].astype('int32')
        if df[i].dtype == 'float64':
            df[i] = df[i].astype('float32')
        if df[i].dtype == 'object':
            df[i] = df[i].astype('category')
    return df

In [ ]:
registration = going_to_light(registration)
change_1 = going_to_light(change_1)
change_2 = going_to_light(change_2)
cancel_1 = going_to_light(cancel_1)
cancel_2 = going_to_light(cancel_2)
new_1 = going_to_light(new_1)
new_2 = going_to_light(new_2)
transfer_1 = going_to_light(transfer_1)
pledge_1 = going_to_light(pledge_1)
pledge_2 = going_to_light(pledge_2)

# 테이블(Table)

##Registration

In [ ]:
registration.shape

(248, 153)

In [ ]:
registration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Columns: 153 entries, 날짜 to 화물특수용도형(청소차)
dtypes: category(1), float32(37), int32(115)
memory usage: 157.9 KB

In [ ]:
registration.head(1)

,날짜,총계,승용차합계,승용일반형 계,승용일반형 국산 소계,승용일반형 국산 800CC미만,승용일반형 국산 1000CC미만,승용일반형 국산 1500CC미만,승용일반형 국산 2000CC미만,승용일반형 국산 2500CC미만,승용일반형 국산 3000CC미만,승용일반형 국산 3500CC미만,승용일반형 국산 4000CC미만,승용일반형 국산 4500CC미만,승용일반형 국산 5000CC미만,승용일반형 국산 5000CC이상,승용일반형 외산 소계,승용일반형 외산 800CC미만,승용일반형 외산 1000CC미만,승용일반형 외산 1500CC미만,승용일반형 외산 2000CC미만,승용일반형 외산 2500CC미만,승용일반형 외산 3000CC미만,승용일반형 외산 3500CC미만,승용일반형 외산 4000CC미만,승용일반형 외산 4500CC미만,승용일반형 외산 5000CC미만,승용일반형 외산 5000CC이상,승용겸 화물 계,승용겸 화물 1500CC미만,승용겸 화물 2000CC미만,승용겸 화물 2500CC미만,승용겸 화물 3000CC미만,승용겸 화물 3500CC미만,승용겸 화물 3500CC이상,승용다목적형 계,승용다목적형 1500CC미만,승용다목적형 2000CC미만,승용다목적형 2500CC미만,승용다목적형 3000CC미만,승용다목적형 3500CC미만,승용다목적형 3500CC이상,승용기타형 계,승용기타형 1500CC미만,승용기타형 2000CC미만,승용기타형 2500CC미만,승용기타형 3000CC미만,승용기타형 3500CC미만,승용기타형 3500CC이상,승합차 합계,승합일반형 계,시내버스,시외버스,전세버스,고속버스,농어촌버스,마을버스,승합일반기타형 계,승합일반 15인 이하,승합일반 25인 이하,승합일반 35인 이하,승합일반 50인 이하,승합일반 51인 이상,승합특수형 계,구급차,장의차,헌혈,방송,승합특수형 기타,화물자동차 합계,화물일반형 계,화물 픽업형,화물카고형 계,화물카고형 1톤 이하,화물카고형 3톤 이하,화물카고형 5톤 미만,화물카고형 8톤 미만,화물카고형 10톤 미만,화물카고형 12톤 미만,화물카고형 12톤 이상,화물덤프형 계,화물덤프형 1톤 이하,화물덤프형 5톤 미만,화물덤프형 12톤 미만,화물덤프형 12톤 이상,화물 밴형 계,화물밴형 1톤 이하,화물밴형 5톤 미만,화물밴형 5톤 이상,화물특수용도형 계,화물특수용도형(청소자),화물특수용도형(노면청소자),화물특수용도형(살수차),화물특수용도형(소방차),"화물특수용도형(냉장, 냉동차)","화물특수용도형(곡물, 사료운반)",유조차 소계,유조차(항공유),유조차(휘발유),"유조차(등유, 경유)",유조차(방카C유),유조차(기타),탱크로리 소계,"탱크로리(식수, 음료)",탱크로리(압축가스),탱크로리(화공약품),탱크로리(기타),피견인차 소계,피견인차(적재함형),피견인차(저상형),피견인차(평판형),피견인차(콘테이너샤시),피견인차(기타),화물특수용도형(기타),특수자동차 합계,구난차 계,구난차 5톤 이하,구난차 10톤 미만,구난차 10톤 이상,견인차 계,견인차 10톤 이하,견인차 10톤 미만,견인차 10톤 이상,특수작업형 계,특수작업형(고소작업차),특수작업형(고가사다리소방차),특수작업형(오가크레인),특수작업형(기타),견인차 5톤 이하,"헌혈, 채혈차","방송, 보도용차","화물특수용도형(냉장,냉동차)",승용일반형 국산 저속전기,승용일반형 국산 전기,승용일반형 외산 저속전기,승용일반형 외산 전기,승용겸 화물 저속전기,승용겸 화물 전기,승용다목적형 저속전기,승용다목적형 전기,승용기타형 저속전기,승용기타형 전기,승합피견인형,화물특수용도형(노면청소차),"화물특수용도형(곡물,사료운반)",특수용도형 계,특수용도형(고소작업차),특수용도형(고가사다리소방차),특수용도형(오가크레인),특수용도형(피견인형),특수용도형(기타),특수작업형(피견인형),화물특수용도형(청소차)
0,2002-01-01,672958,287490,282975,282811,280,2,7767,252615,8872,11626,1520,28,101,0,0,164,0,0,15,16,17,42,27,10,14,19,4,65,3,1,11,0,0,50,2968,0,176,2163,611,9,9,1482,0,221,653,593,1,14,80385,79694,27295,15242,25953,696,0,0,10508,10280,225,3,0,0,691,38,644,0.0,1.0,8,274681,206117,94,206023,72928,35997,30296,26090,8218,14345,18149,3418,443,2023,847,105,14684,14233,343,108,50462,250.0,1.0,58,0,4584.0,995.0,2548,89,72,873,19,1495,3697,6,107,13,3571,31705,4281,1304,8276,10667,7177,6624,30402,5912,5830,69,13,23045,508.0,749,21788,1445.0,12.0,0.0,0.0,1433.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##Change

In [ ]:
change_1.head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,용도구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,구조변경명
0,A0310008500394310,특수,견인,대형,ISM,EL3TM8,10824.0,2.0,17000.0,대우트랙터,2011,경유,국산,캡오버형,6865,2490,3550,4565.0,2090.0,1860.0,자동,2011.0,인천XX아XXXX,KLUEL3TM8BXXXXXX,영업용,201704,일반소유용,201103,201009.0,법인및사업자,NaN,인천광역시 동구,인천광역시 동구,동력전달장치

In [ ]:
change_2.head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,용도구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,구조변경명,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
0,A0310006900894307,특수,견인,대형,ISM,V3TNF3,10824.0,2.0,17000.0,대우트랙터,2008,경유,국산,캡오버형,6865,2495,3055,4565.0,2080.0,1860.0,수동,2008.0,인천XX자XXXX,KL4V3TNF38KXXXXXX,영업용,202001,일반소유용,200801,200801.0,법인및사업자,NaN,인천광역시 중구,서울특별시 중구,배기가스발산방지장치,415.0,3.0,8770,25900,A0310006900004304,1900.0,12R22.5-16PR(S),12R22.5-16PR(D),NaN,NaN,NaN,NaN,80900000.0

In [ ]:
a = change_1.columns 
b = change_2.columns
new_change_col = list(set(b) - set(a))
new_change_col

['최초취득금액',
 '연료소비율',
 '타이어전후형식',
 '최초제원관리번호',
 '차량총중량',
 '타이어후전형식',
 '타이어전전형식',
 '타이어후중형식',
 '타이어후후형식',
 '원동기RPM값',
 '원동기최고출력',
 '구동방식코드',
 '차량중량']

In [ ]:
change = pd.concat([change_1,change_2])
change.head(2)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,용도구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,구조변경명,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
0,A0310008500394310,특수,견인,대형,ISM,EL3TM8,10824.0,2.0,17000.0,대우트랙터,2011,경유,국산,캡오버형,6865,2490,3550,4565.0,2090.0,1860.0,자동,2011.0,인천XX아XXXX,KLUEL3TM8BXXXXXX,영업용,201704,일반소유용,201103,201009.0,법인및사업자,NaN,인천광역시 동구,인천광역시 동구,동력전달장치,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00220002100024303,특수,견인,대형,OM501LA,2644LS,11946.0,2.0,17500.0,Actros,2004,경유,외산,캡오버형,6835,2495,3250,4650.0,2036.0,1804.0,수동,2004.0,경북XX아XXXX,WDB9342414XXXXXX,영업용,201704,일반소유용,200402,200312.0,법인및사업자,NaN,경상북도 의성군,경상북도 의성군,동력전달장치,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
change.shape

(609137, 47)

##Cancel

In [ ]:
a = cancel_1.columns 
b = cancel_2.columns
new_cancel_col = list(set(b) - set(a))
new_cancel_col

['최초취득금액',
 '연료소비율',
 '타이어전후형식',
 '최초제원관리번호',
 '차량총중량',
 '타이어후전형식',
 '타이어전전형식',
 '타이어후중형식',
 '타이어후후형식',
 '원동기RPM값',
 '원동기최고출력',
 '구동방식코드',
 '차량중량']

In [ ]:
cancel = pd.concat([cancel_1,cancel_2])
cancel.head(2)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,주행거리,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
0,10008400140002,특수,견인,대형,OM442A,CWE60GTL-BC,14618.0,3.0,17000.0,쌍용트랙타,1997,경유,국산,캡오바,6655.0,2495.0,3100.0,4350.0,2040.0,1860.0,수동,NaN,인천XX바XXXX,KPFMC7CM1RXXXXXX,인천,영업용,자진말소(폐차),201704,일반소유용,199405,199405.0,법인및사업자,NaN,인천광역시 서구,인천광역시 서구,500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10096500120000,특수,견인,대형,D6CA,HD440-TRT-THA,12920.0,2.0,16500.0,현대트랙터(터보),2001,경유,국산,캡오버형,6685.0,2495.0,2950.0,4350.0,2040.0,1850.0,수동,NaN,XX보XXXX,KMEFJ18SP1XXXXXX,대구,자가용,자진말소(수출예정),201704,매매상품용,200111,200110.0,법인및사업자,NaN,경상북도 포항시 남구,경상북도 포항시 남구,378000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cancel.shape

(1144864, 49)

##New

In [ ]:
a = new_1.columns 
b = new_2.columns
new_new_col = list(set(b) - set(a))
new_new_col

['최초취득금액',
 '연료소비율',
 '타이어전후형식',
 '최초제원관리번호',
 '차량총중량',
 '타이어후전형식',
 '타이어전전형식',
 '타이어후중형식',
 '타이어후후형식',
 '원동기RPM값',
 '원동기최고출력',
 '구동방식코드',
 '차량중량']

In [ ]:
new = pd.concat([new_1,new_2])
new.head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
0,BMY10004800004116,특수,구난,소형,672960,AMTK1.0ATP-UD5,2157.0,2,500.0,에이엠티언더리프트,2017,경유,국산,4륜구동 본넷트형,4960.0,1910.0,1790.0,3060.0,1570.0,1570.0,자동,2017.0,경기XX바XXXX,KPACA4AE1HXXXXXX,경기,영업용,신조차 신규등록,201704,일반소유용,201704,201703.0,법인및사업자,NaN,경기도 용인시 수지구,경기도 용인시 수지구,43000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
new.shape

(1353681, 49)

##Pledge

In [ ]:
a = pledge_1.columns 
b = pledge_2.columns
new_pledge_col = list(set(b) - set(a))
new_pledge_col

['최초취득금액',
 '연료소비율',
 '타이어전후형식',
 '최초제원관리번호',
 '차량총중량',
 '타이어후전형식',
 '타이어전전형식',
 '타이어후중형식',
 '타이어후후형식',
 '원동기RPM값',
 '원동기최고출력',
 '구동방식코드',
 '차량중량']

In [ ]:
pledge = pd.concat([pledge_1,pledge_2])
pledge.head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,매매상품구분명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,을부번호,저당등록구분명,저당차량수,최초저당설정일,저당권자회원구분명,저당권자등록번호,저당권자주소명,총채권금액,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
0,A0810005500004302,특수,견인,대형,D6CA,HD440-T640-THA,12920.0,2.0,16500.0,현대트랙터(터보),2003,경유,국산,"ㄷ형프레임,캡오버형",6705.0,2495,2950.0,4350,2040.0,1850.0,수동,2003.0,XX소XXXX,KMEFJ18SP3XXXXXX,서울,자가용,저당말소,201704,매매상품용,NaN,200302,200302.0,법인및사업자,NaN,충청남도 천안시 동남구,서울특별시 송파구,0.0,44272003XXXXXX,공동저당,1,200302.0,법인및사업자,NaN,서울특별시 영등포구,354000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pledge.shape

(2173350, 58)

##Transfer

In [ ]:
transfer_1.shape

(1653765, 44)

# Parquet 파일 생성

In [ ]:
import numpy as np
def to_nan(x):
    if x == '-':
        x = np.NaN
    if type(x) == str:
        x = float(x.strip())
    return x

In [ ]:
cancel["원동기최고출력"] = cancel["원동기최고출력"].apply(to_nan)
cancel["원동기RPM값"] = cancel["원동기RPM값"].apply(to_nan)

In [ ]:
pledge["원동기최고출력"] = pledge["원동기최고출력"].apply(to_nan)
pledge["원동기RPM값"] = pledge["원동기RPM값"].apply(to_nan)

In [ ]:
import fastparquet

registration.to_parquet('registration.parquet', engine = 'fastparquet', compression = 'gzip')
change.to_parquet('change.parquet', engine = 'fastparquet', compression = 'gzip')
cancel.to_parquet('cancel.parquet', engine = 'fastparquet', compression = 'gzip')
new.to_parquet('new.parquet', engine = 'fastparquet', compression = 'gzip')
transfer_1.to_parquet('transfer.parquet', engine = 'fastparquet', compression = 'gzip')
pledge.to_parquet('pledge.parquet', engine = 'fastparquet', compression = 'gzip')

In [ ]:
import pandas as pd

pd.read_parquet('registration.parquet').head(1)

,날짜,총계,승용차합계,승용일반형 계,승용일반형 국산 소계,승용일반형 국산 800CC미만,승용일반형 국산 1000CC미만,승용일반형 국산 1500CC미만,승용일반형 국산 2000CC미만,승용일반형 국산 2500CC미만,승용일반형 국산 3000CC미만,승용일반형 국산 3500CC미만,승용일반형 국산 4000CC미만,승용일반형 국산 4500CC미만,승용일반형 국산 5000CC미만,승용일반형 국산 5000CC이상,승용일반형 외산 소계,승용일반형 외산 800CC미만,승용일반형 외산 1000CC미만,승용일반형 외산 1500CC미만,승용일반형 외산 2000CC미만,승용일반형 외산 2500CC미만,승용일반형 외산 3000CC미만,승용일반형 외산 3500CC미만,승용일반형 외산 4000CC미만,승용일반형 외산 4500CC미만,승용일반형 외산 5000CC미만,승용일반형 외산 5000CC이상,승용겸 화물 계,승용겸 화물 1500CC미만,승용겸 화물 2000CC미만,승용겸 화물 2500CC미만,승용겸 화물 3000CC미만,승용겸 화물 3500CC미만,승용겸 화물 3500CC이상,승용다목적형 계,승용다목적형 1500CC미만,승용다목적형 2000CC미만,승용다목적형 2500CC미만,승용다목적형 3000CC미만,승용다목적형 3500CC미만,승용다목적형 3500CC이상,승용기타형 계,승용기타형 1500CC미만,승용기타형 2000CC미만,승용기타형 2500CC미만,승용기타형 3000CC미만,승용기타형 3500CC미만,승용기타형 3500CC이상,승합차 합계,승합일반형 계,시내버스,시외버스,전세버스,고속버스,농어촌버스,마을버스,승합일반기타형 계,승합일반 15인 이하,승합일반 25인 이하,승합일반 35인 이하,승합일반 50인 이하,승합일반 51인 이상,승합특수형 계,구급차,장의차,헌혈,방송,승합특수형 기타,화물자동차 합계,화물일반형 계,화물 픽업형,화물카고형 계,화물카고형 1톤 이하,화물카고형 3톤 이하,화물카고형 5톤 미만,화물카고형 8톤 미만,화물카고형 10톤 미만,화물카고형 12톤 미만,화물카고형 12톤 이상,화물덤프형 계,화물덤프형 1톤 이하,화물덤프형 5톤 미만,화물덤프형 12톤 미만,화물덤프형 12톤 이상,화물 밴형 계,화물밴형 1톤 이하,화물밴형 5톤 미만,화물밴형 5톤 이상,화물특수용도형 계,화물특수용도형(청소자),화물특수용도형(노면청소자),화물특수용도형(살수차),화물특수용도형(소방차),"화물특수용도형(냉장, 냉동차)","화물특수용도형(곡물, 사료운반)",유조차 소계,유조차(항공유),유조차(휘발유),"유조차(등유, 경유)",유조차(방카C유),유조차(기타),탱크로리 소계,"탱크로리(식수, 음료)",탱크로리(압축가스),탱크로리(화공약품),탱크로리(기타),피견인차 소계,피견인차(적재함형),피견인차(저상형),피견인차(평판형),피견인차(콘테이너샤시),피견인차(기타),화물특수용도형(기타),특수자동차 합계,구난차 계,구난차 5톤 이하,구난차 10톤 미만,구난차 10톤 이상,견인차 계,견인차 10톤 이하,견인차 10톤 미만,견인차 10톤 이상,특수작업형 계,특수작업형(고소작업차),특수작업형(고가사다리소방차),특수작업형(오가크레인),특수작업형(기타),견인차 5톤 이하,"헌혈, 채혈차","방송, 보도용차","화물특수용도형(냉장,냉동차)",승용일반형 국산 저속전기,승용일반형 국산 전기,승용일반형 외산 저속전기,승용일반형 외산 전기,승용겸 화물 저속전기,승용겸 화물 전기,승용다목적형 저속전기,승용다목적형 전기,승용기타형 저속전기,승용기타형 전기,승합피견인형,화물특수용도형(노면청소차),"화물특수용도형(곡물,사료운반)",특수용도형 계,특수용도형(고소작업차),특수용도형(고가사다리소방차),특수용도형(오가크레인),특수용도형(피견인형),특수용도형(기타),특수작업형(피견인형),화물특수용도형(청소차)
0,2002-01-01,672958,287490,282975,282811,280,2,7767,252615,8872,11626,1520,28,101,0,0,164,0,0,15,16,17,42,27,10,14,19,4,65,3,1,11,0,0,50,2968,0,176,2163,611,9,9,1482,0,221,653,593,1,14,80385,79694,27295,15242,25953,696,0,0,10508,10280,225,3,0,0,691,38,644,0.0,1.0,8,274681,206117,94,206023,72928,35997,30296,26090,8218,14345,18149,3418,443,2023,847,105,14684,14233,343,108,50462,250.0,1.0,58,0,4584.0,995.0,2548,89,72,873,19,1495,3697,6,107,13,3571,31705,4281,1304,8276,10667,7177,6624,30402,5912,5830,69,13,23045,508.0,749,21788,1445.0,12.0,0.0,0.0,1433.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.read_parquet('change.parquet').head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,용도구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,구조변경명,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,A0310008500394310,특수,견인,대형,ISM,EL3TM8,10824.0,2.0,17000.0,대우트랙터,2011,경유,국산,캡오버형,6865,2490,3550,4565.0,2090.0,1860.0,자동,2011.0,인천XX아XXXX,KLUEL3TM8BXXXXXX,영업용,201704,일반소유용,201103,201009.0,법인및사업자,None,인천광역시 동구,인천광역시 동구,동력전달장치,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN

In [ ]:
pd.read_parquet('cancel.parquet').head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,주행거리,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,10008400140002,특수,견인,대형,OM442A,CWE60GTL-BC,14618.0,3.0,17000.0,쌍용트랙타,1997,경유,국산,캡오바,6655.0,2495.0,3100.0,4350.0,2040.0,1860.0,수동,NaN,인천XX바XXXX,KPFMC7CM1RXXXXXX,인천,영업용,자진말소(폐차),201704,일반소유용,199405,199405.0,법인및사업자,None,인천광역시 서구,인천광역시 서구,500000.0,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN

In [ ]:
pd.read_parquet('new.parquet').head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,BMY10004800004116,특수,구난,소형,672960,AMTK1.0ATP-UD5,2157.0,2,500.0,에이엠티언더리프트,2017,경유,국산,4륜구동 본넷트형,4960.0,1910.0,1790.0,3060.0,1570.0,1570.0,자동,2017.0,경기XX바XXXX,KPACA4AE1HXXXXXX,경기,영업용,신조차 신규등록,201704,일반소유용,201704,201703.0,법인및사업자,None,경기도 용인시 수지구,경기도 용인시 수지구,43000000.0,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN

In [ ]:
pd.read_parquet('transfer_1.parquet').head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,이전등록구분명,등록상세명,매매상품구분명,변경전등록상세명,변경전매매상품구분명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,주행거리,변경전회원구분명,변경전회원등록번호,변경전사용본거지주소명
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,A0810007203374309,특수,견인,대형,D6CC,HD62T-10ALg-A,12344.0,2.0,17000.0,현대트랙터,2010,경유,국산,"ㄷ형프레임,캡오버형",7080.0,2495.0,3145.0,4650.0,2040.0,1830.0,자동,2010.0,XX보XXXX,KMEHR18NPAXXXXXX,부산,자가용,단순이전,201704,매매업자거래이전,매매상품용,상품용,일반소유용,None,201005,200912.0,개인,40대 남자,부산광역시 강서구,부산광역시 강서구,15000000.0,467000.0,법인및사업자,None,부산광역시 강서구

In [ ]:
pd.read_parquet('pledge.parquet').head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,매매상품구분명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,을부번호,저당등록구분명,저당차량수,최초저당설정일,저당권자회원구분명,저당권자등록번호,저당권자주소명,총채권금액,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,A0810005500004302,특수,견인,대형,D6CA,HD440-T640-THA,12920.0,2.0,16500.0,현대트랙터(터보),2003,경유,국산,"ㄷ형프레임,캡오버형",6705.0,2495,2950.0,4350,2040.0,1850.0,수동,2003.0,XX소XXXX,KMEFJ18SP3XXXXXX,서울,자가용,저당말소,201704,매매상품용,None,200302,200302.0,법인및사업자,None,충청남도 천안시 동남구,서울특별시 송파구,0.0,44272003XXXXXX,공동저당,1,200302.0,법인및사업자,None,서울특별시 영등포구,354000000,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN

In [ ]:
pd.read_parquet('pledge.parquet').head(1)

,제원관리번호,차종명,차종유형명,차종분류명,원동기형식명,형식명,배기량,승차정원수,최대적재량,차명,모델연도,사용연료명,국산수입구분명,차대차체형상명,차체길이,차체너비,차체높이,축간거리,전윤간거리,후윤간거리,변속기종류명,제원모델년도,차량등록번호,차대번호,등록관청명,용도구분명,신청구분명,등록일,등록상세명,매매상품구분명,최초등록일,제작년월일,회원구분명,회원등록번호,사용본거지주소명,소유자주소명,취득금액,을부번호,저당등록구분명,저당차량수,최초저당설정일,저당권자회원구분명,저당권자등록번호,저당권자주소명,총채권금액,원동기최고출력,연료소비율,차량중량,차량총중량,최초제원관리번호,원동기RPM값,타이어전전형식,타이어전후형식,타이어후전형식,타이어후중형식,타이어후후형식,구동방식코드,최초취득금액
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,A0810005500004302,특수,견인,대형,D6CA,HD440-T640-THA,12920.0,2.0,16500.0,현대트랙터(터보),2003,경유,국산,"ㄷ형프레임,캡오버형",6705.0,2495,2950.0,4350,2040.0,1850.0,수동,2003.0,XX소XXXX,KMEFJ18SP3XXXXXX,서울,자가용,저당말소,201704,매매상품용,None,200302,200302.0,법인및사업자,None,충청남도 천안시 동남구,서울특별시 송파구,0.0,44272003XXXXXX,공동저당,1,200302.0,법인및사업자,None,서울특별시 영등포구,354000000,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN